[2021-08-10 11:50] shoutershub commented on #9493
Thanks running  `npm i vue-loader` solved my problem

[2021-08-10 12:09] trajano commented on #6398
Thanks @shirakaba  I am just trying to see how to get all of this working to the same level as we have with Expo and React-Native where we can make changes and it updates the app automatically.  I see announcements for HMR with Nativescript but I could never get it working and a few StackOverflow questions lead to issues that lead here.

[2021-08-10 12:14] shirakaba commented on #6398
@trajano what specifically is not working, and which flavour of NativeScript are you using (Angular, Vue, etc.), and what version of Webpack and what version of NativeScript?

[2021-08-10 15:07] trajano commented on #6398
@shirakaba I"ll start a new issue so I don't make this go too long.

[2021-08-10 16:22] trajano opened #9507 "Unable to get HMR working in Vue with TypeScript"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.2
 - Cross-platform modules:
 - Android Runtime: ^8.0.0
 - iOS Runtime: ^8.0.0
 - XCode Version: 12.5.1
 - Plugin(s):

**Describe the bug**

Trying to get a HMR working with TypeScript and Vu

[2021-08-10 16:26] trajano commented on #9507
Code that I changed

[code]

[2021-08-10 16:55] trajano commented on #9507
ns debug ios sort of works but it does a "restart" it does not update the running app

[2021-08-10 17:54] trajano commented on #9507
Digging further I found this https://github.com/nativescript-vue/nativescript-vue/issues/846 so it may likely be something specific to NativeScript-Vue

[2021-08-10 18:05] ThecodingOG commented on #9493
@shoutershub Thanks so much. It worked

[2021-08-10 20:05] GhostMech commented on #9493
Also solved MY problem with Laravel Mix!!

[2021-08-10 23:21] felixelgato92 commented on #7701
How can this be expected behavior? Why is the comma there then?

[2021-08-11 11:32] jgmediadesign commented on #8175
I've been looking into this and it seems like there is an android restriction on the colours which can be used for backgrounds in some situations. For example, if you set a label background to red using the .ns-dark parent, it seems to work ok. It looks like white, or close to white backgrounds are not allowed. I'm not sure this is a nativescript issue

[2021-08-11 16:28] Rob4226 commented on #9272
I get this error also on windows with NativeScript CLI v8.02:

[code]
If I add the android flag `ns devices android` then it runs ok but CLI v7.x.x used to run `ns devices` without any errors.  It would probably be a good idea to make v8 work like v7 where it won't run an iOS check on Windows or Linux so it won't produce an error.

[2021-08-12 05:31] coolboy0961 commented on #9372
me too

[2021-08-12 07:08] zeejay09 opened #9509 "Ignore self-signed ssl certificate from server when communicating via NativeScript"
Scenario:
You have a NativeScript application that communicates with an api endpoint in development but the api server has a self-signed certificate.

Issue:
* request is returning empty or have an error.
* ```rejectUnauthorized: false``` is not working.
* etc.

Solution:
My solution is only based on this [original gist]([https://gist.github.com/aembleton/889392). This is [my gist](https://gist.gi

[2021-08-12 07:12] zeejay09 commented on #9509
#4538

[2021-08-12 07:14] ketuvin commented on #9509
Thanks. It is working now.

[2021-08-12 14:09] bmacdonald commented on #9249
I've actually been experiencing the same issue with NativeScript 8 and Angular 11.  It is really simple to reproduce.  Create a GridLayout with a border radius of 5 and 3 borders set to one color and then one of another color.

`
    <GridLayout style="height:70;border-radius: 5;border-width: 1;border-color:green;border-top-color:red">

    </GridLayout>
`

@13dante04 - have you found a work aroun

[2021-08-13 16:30] slejnej commented on #9058
Still the issue... Android (device & emulator), NS7 & Angular 11.

[2021-08-16 11:17] pvanhooren commented on #9493
@farfromrefug upgrading vue-loader worked for me multiple times over the last week, but it doesn't work anymore today. Upgrading vue-loader leads to another error:

 - configuration has an unknown property 'webpackbar'.

[2021-08-16 12:49] farfromrefug commented on #9493
@pvanhooren that is something else. Do you have a special webpack config? Search for `webpackbar` in your project folder.

[2021-08-16 13:17] pvanhooren commented on #9493
I do have a webpackbar folder and a webpackbar files, yes. What should I do with it?

[2021-08-16 13:26] farfromrefug commented on #9493
@pvanhooren for some reason that folder name seems to be "passed" as argument of the webpack config. Cant help much more without seeing your project

[2021-08-16 13:33] pvanhooren commented on #9493
Which files do you need to see? I can post them

[2021-08-16 14:53] farfromrefug commented on #9493
@pvanhooren well all your project config files, including webpack.config.js

[2021-08-16 15:19] pvanhooren commented on #9493
I am new to the framework, Where can I find these files?

[2021-08-16 15:40] farfromrefug commented on #9493
@pvanhooren can you share the whole project? that would be faster. You can find me on discord if you want to share privately

[2021-08-16 15:55] pvanhooren commented on #9493
Where can I find your Discord? I don't see it on your profile

[2021-08-16 16:34] farfromrefug commented on #9493
@pvanhooren not on my computer right now but you should maybe see me on the N server under "farfromrefug"?

[2021-08-16 16:41] pvanhooren commented on #9493
Sorry if this sounds dumb but what is the N server :joy:

[2021-08-16 17:57] farfromrefug commented on #9493
@pvanhooren https://blog.nativescript.org/nativescript-8-announcement/#join-our-discord-community ;)

[2021-08-17 03:59] futuremaster777 opened #9512 "Playground (preview) Error"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.2
 - Cross-platform modules:
 - Android Runtime: 8.0.0
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**
 ns doctor android
✔ Getting environment information

No issues we

[2021-08-17 09:50] binball72956 opened #9513 "Error executing Static Binding Generator"
i first try

[2021-08-17 09:50] #9513 closed

[2021-08-17 09:56] binball72956 opened #9514 "Error executing Static Binding Generator"
create a plain js project, when i exec ns android run, some error like:
Error executing Static Binding Generator: Class not found androidx.appcompat.widget.Toolbar.OnMenuItemClickListener
Detailed log here: C:\Users\86187\learnspace\nativescriptlearn\ns01\platforms\android\build-tools\runSbg.log

Unable to apply changes on device: 6e807090. Error is: Command gradlew.bat failed with exit code 1.

[2021-08-17 14:07] sebj54 commented on #8170
For those like me who landed here, looking for a solution to this problem, I answered on the Stack Overflow post linked above. The solution is to use `FlexboxLayout` as a direct child of a `ScrollView`.

[2021-08-17 18:55] cjohn001 commented on #9479
@OriIdan : May I ask how you have worked around the issue? I see the issue on Android API Level 30 when I try to load a local file into a webview. I thought it might be related to my app configuration, wrong permissions in Manifest, searching for a solution since hours already but all permission related workarounds I could find with google did not point me to a valid solution

[2021-08-17 18:58] cjohn001 commented on #9463
Hello together, I am also seeing the issue. It is important to note, that it seems to appear with API Level 30. For older Android versions the WebView did work. I am also unable to load local files anymore. I get a net::ERR_ACCESS_DENIED
And on console
chromium: [ERROR:filesystem_posix.cc(62)] mkdir /data/user/0/org.nativescript.nativescriptsdkexamplesng/cache/WebView/Crashpad: No such file or dir

[2021-08-17 18:59] OriIdan commented on #9479
Hi cjohn001,
I did not work around it, it seems to fixed by google, this is a bug in few
webview versions.
Version 93 and above, solve it. It took about 3 days and google updated
webview in all our users devices and the problem disappeared.

On Tue, Aug 17, 2021 at 9:55 PM cjohn001 ***@***.***> wrote:

[2021-08-17 19:25] cjohn001 commented on #9479
@Orildan, thanks for the info. I am seeing it with the current nativescript WebView version as well on my Samsung phone, so this means I have to wait till Samsung decides to do provide an Android update. Bad situation.

[2021-08-17 19:49] cjohn001 commented on #9463
It looks like the issue is related to loading of the local html file. If I read the html file into a local buffer and bind it to the WebView, it works. Might be related to scoped storage which seems to be enforced now with API Level 30

[code]

[2021-08-17 20:20] teha-at commented on #9263
Is there a bit of progress here? After a long migration to {N}8 this is a blocker to get the new version out to the play store.

[2021-08-17 20:29] farfromrefug commented on #9263
@teha-at could you test the 8.1.0 alpha version? (Look on npm) might be fixed there

[2021-08-17 22:14] OriIdan commented on #9479
@cjohn001 Try to update chrome or WebView.
This is strange as many of our users have Samsung phones. Webview is
updated regularly not related to Android releases.

On Tue, Aug 17, 2021 at 10:25 PM cjohn001 ***@***.***> wrote:

[2021-08-17 22:22] cjohn001 opened #9515 "Android Only: WebView reloads page on navigation"
Hello together,
I am using a WebView to display a static webpage. On Android, I now have the problem, that when I transition away from the page (back button or forward to another page) the WebView reloads its content, leading to a short blinking which looks very suboptimal.  Is there a way I can disable this behavior until the bug is fixed? Not sure what event event might be responsible for it and

[2021-08-18 05:49] farfromrefug commented on #9515
@cjohn001 yes it is a normal behavior seeing how N is implemented. Should be fixed in 8.1.0.alpha1. Could you try? (look for the tag on npm)

[2021-08-18 06:48] cjohn001 commented on #9515
Good Morning @farfromrefug , I had tested with 8.1.0.alpha1 as well, now repeated it. The problem still exists. Can you recommend a quick workaround till it is fixed?

[2021-08-18 07:12] farfromrefug commented on #9515
@cjohn001 ok i might need to reproduce it. it is really weird for it to still happen with 8.1.0. By any chance could you create a simple repro example?

[2021-08-18 07:27] cjohn001 commented on #9515
I will try to do it tonight. Rather busy today.

[2021-08-18 07:40] teha-at commented on #9263
sorry, looks like in 8.1.0-alpha.1 the problem are still there.

My test procedure was:
[code]
* Change the `@nativescript/core` version to `^8.1.0-alpha.1` in package.json
* Replace the ListView because of another error there with a simple button with `[nsRouterLink]="['/item', 1]"`

Set the background color for the action bars

[code]
and
[code]

Start the app with
[code]

After a click on the b

[2021-08-18 08:05] HeyKJ opened #9516 "file system, zip file size always 0, image file is ok"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI:
 - Cross-platform modules:
 - Android Runtime: 8.0.0
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**

app
ㄴimages
　ㄴDownloads.zip
　ㄴtest.jpg
　ㄴtest.txt

[code]

only the ima

[2021-08-18 13:26] HeyKJ commented on #9516
sorry for my poor brain.

I found that the image files under the app folder are copied to the platform/android/app/src/main/assets/app folder.
And I also found that zip files and txt files need to be added rules with CopyWebpackPlugIn.

**webpack.config.js:**
[code]

There are now zip files and txt files in the platform/android/app/src/main/assets/app/images folder, and the file size is bigger tha

[2021-08-19 06:12] pandabuilt opened #9519 "[QUESTION] main.tns.ts is missing from the TypeScript compilation Nativescript / Angular + Nativescript/webpack Shared project."
How do we move forward with a tsconfig.app.json file for web (angular.json) and a tsconfig.tns.json file for Nativescript?

in a @nativescript/schematics project we had a tsconfig.json and a tsconfig.tns.json file. Inside the webpack.config.js file we had several lines where they mapped the tsconfig file based on the one in the angular.json file to the tns.json file to the env.json file and it wou

[2021-08-19 06:13] pandabuilt commented on #9519
Here is my TsConfig.tns.json file:
`{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "./out-tsc/app",
    "paths": {
      "@src/*": [
        "src/*.tns.ts",
        "src/*.ts",
				"src/*.prod.ts"
      ]
    }
  },
  "files": [
    "./src/main.tns.ts",
    "./src/polyfills.tns.ts"
  ],
  "include": [
    "./src/**/*.tns.ts",
    "./src/**/*.d.ts",
    "src/environments/env

[2021-08-19 06:19] pandabuilt commented on #9519
interesting to note it does show me that it's using... `tsconfig-paths-webpack-plugin: Using config file at ./tsconfig.tns.json`

[2021-08-19 10:56] 7ammer opened #9520 "Edit variables found in `AndroidManifest.xml` and `Info.plist` from a single file."
**Is your feature request related to a problem? Please describe.**
My client wants to be able to have multiple versions of the same app. One for production, a beta version for testFlight and an Ad Hoc version. I do not see an easy way to do this. It appears to currently involve  manually editing multiple files which is error prone and messy.

**Describe the solution you'd like**
I'd like to be abl

[2021-08-19 14:27] pandabuilt commented on #9519
Seems this was unanswered here: https://github.com/NativeScript/nativescript-dev-webpack/issues/1154

@bufke do you have any insight?

[2021-08-19 16:43] bufke commented on #9519
You would be better served by someone on the NativeScript team. However, to my best understanding, you will never succeed in trying to use a NS shared project using the *.tns.* method. The previously shared approach was done by the telerek team and the current maintainers do not agree with it nor have time to support it. I can understand the position the current maintainers are in is tough and fin

[2021-08-19 17:03] pandabuilt commented on #9519
@bufke I figured they put the tsconfig plugin inside @nativescript/webpack to showcase how you can dynamically use a different tsconfig file. However, [](https://github.com/NativeScript/NativeScript/blob/master/packages/webpack5/src/configuration/angular.ts) show cases tsConfigPath that we need to be able to edit.

Literally adding the lines from nativescript-dev-webpack (4 or before) checking if

[2021-08-19 17:05] pandabuilt commented on #9519
[https://github.com/NativeScript/NativeScript/blob/master/packages/webpack5/src/configuration/angular.ts](url)

Show cases they hardcode tsconfig.app.json :(

[2021-08-19 17:09] pandabuilt commented on #9519
Okay, even when I edit that.... to tns.json I run into polyfills.ts vs polyfills.tns.ts

[2021-08-20 12:04] farfromrefug commented on #9263
@teha-at we have the fix. we need to merge and release (will be 8.1.0 which is alpha stage)

[2021-08-20 15:59] pandabuilt commented on #9519
Closed based off the response from core team:https://github.com/NativeScript/angular/issues/28

[2021-08-20 15:59] #9519 closed

[2021-08-21 11:15] cjohn001 commented on #9515
@farfromrefug : Sorry for the late reply, but I could not find time earlier to build a demo showing the issue. Indeed the demo I provide, will show you two bugs.
First bug, referenced here, which causes flickering by the webview reloading the html page when back button is pressed.

Second bug: Appears on Android API Level 30 and above. Please note, since this month Google store requires target ver

[2021-08-23 09:47] HeyKJ opened #9521 "Doesn't ApplicationSettings will be deleted even when the app is updated?"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI:
 - Cross-platform modules:
 - Android Runtime: 8.0.0
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**

When I tested using FakeAppUpdateManager, the data was not erased.
Can

[2021-08-23 12:13] edusperoni commented on #9521
Application settings doesn't get deleted on app update

[2021-08-23 12:13] #9521 closed

[2021-08-23 12:40] jitendraP-ashutec opened #9522 "knownFolders ios downloads return undefined"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.2
 - Cross-platform modules:
 - iOS Runtime:8.0.0
 - XCode Version:12.5.1

**Describe the bug**
I want to implement a feature to download an image and store it in the download folder. I am tr

[2021-08-24 00:54] Rob4226 opened #9523 "iOS UIButton backgroundColor does not respond to color changes"
I have found that after a Button is created on iOS, it is not possible to change the backgroundColor of it.  It doesn't change if you change the CSS class nor does accessing the background color like `btn.backgroundColor = new Color('blue')` The below only works on Android, where as on iOS the button background color does not change after it is first set:

[code]

I have had tons of issues on iOS

[2021-08-24 05:30] NathanWalker commented on #9523
@Rob4226 thank you, possible to post a PR of the change? Looks like just a reference to a fork at moment. If post as a PR we can merge out to the next tag and it will be included in the 8.1 release soon.

[2021-08-24 06:09] Rob4226 commented on #9523
@NathanWalker Yes, I was just running some more tests on it, but it looks good. It's PR #9524.

Also, I created a new branch using @nativescript/core@7.3.0 and made the necessary changes to fix v7.  I have a couple projects still stuck on 7 so would it be possible to also release a v7.3.1 with this fix?  If you already have a branch for v7 fixes please let me know and I will base the commit on tha

[2021-08-24 06:52] NathanWalker commented on #9523
Sure thing we could do that, much appreciated 🤗

[2021-08-24 06:55] #9523 closed

[2021-08-24 07:22] jitendraP-ashutec commented on #9522
@tsonevn

I have tried https://github.com/NativeScript/NativeScript/issues/6256 example but it's not working in native script 8.

It is giving me below error:

[code]

[2021-08-24 09:08] matteonatale commented on #8494
Hi @ElecTreeFrying,
I'm working on a Nativescript-Vue app with Nativescript 8. I made a custom Vue component for all textfields of my app, but on Android the textChange event doesn't work. How did you solve it?

[2021-08-24 15:24] heywhy commented on #9507
HMR does work. All you need to do is to navigate to another screen then go back to the screen you just modified because the hot reload those not update a screen in place until it's rerendered and you don't necessarily need to restart the app.

[2021-08-24 17:26] fpaaske commented on #4028
This is still an issue in NS 8 and Angular 11. Unfortunately @steve-79's workaround is not working for Angular.

[2021-08-24 18:31] trajano commented on #9507
Is that a limitation of Vue's HMR implementation?

[2021-08-24 19:45] rigor789 commented on #9507
Yes with the current implementation - I'm working on improvements for Page HMR (other components that don't trigger a page to be re-rendered work fine).

This PR is part of the effort: https://github.com/NativeScript/NativeScript/pull/9460

[2021-08-24 19:47] trajano commented on #9507
@rigor789 your statement makes it sound like the issue is with NativeScript's implementation rather than VueJS' implementation.

[2021-08-24 20:05] rigor789 commented on #9507
Requires changes in both NativeScript (the above PR) and nativescript-vue - the latter being much less trivial to fix.

[2021-08-24 20:14] trajano commented on #9507
@rigor789 so nothing needed from VueJS team then, that's good.

[2021-08-25 16:41] HakobiDev commented on #9505
Same here @NativeClass doesn't working.

[2021-08-27 16:51] atmanegara opened #9525 "dynamic tabviews for different pages or remove tabviews on different pages"
**Environment**
 - CLI: 8.0.2
 - Cross-platform modules:
 - Android Runtime: 8

**Describe the bug**
I use tabview , I use it on the first page, then I use the button for the second page and the next page, on page two, I use a different tabview from the first page (picture 2), the tabviews from page 1 and page 2 so stack, I want page 2 has different tabview, for next page I want no tabview

I've u

[2021-08-29 08:57] AchrafBardan opened #9526 "Loaded event does not work inside a modal with a function in the bindingContext"
- CLI: 8.0.2
 - Android Runtime: 8.0.0
 - iOS Runtime: 8.0.0
 - XCode Version: 12.5 Build version 12E262

Loaded event does not work with the bound observable class inside of a modal. If you add the loaded event and try to load an event that is initiated by the element it self it wont pass.  I have made a sample project so you can see it for yourself.

https://github.com/AchrafBardan/modal-load-ev

[2021-08-30 09:03] talharain707 commented on #9493
zindabaaad
npm i vue-loader

[2021-08-30 14:38] vallemar commented on #9525
@atmanegara can you send link a repo with Code?

[2021-08-30 15:22] vallemar opened #9527 "Not suport box-shadow and border radius on 8.1.0-alpha.4"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
✔ Component nativescript has 8.0.2 version and is up to date.
⚠ Update available for component @nativescript/core. Your current version is 8.1.0-alpha.4 and the latest available version is 8.0.8.
✔ Compo

[2021-08-30 15:26] vallemar commented on #9527
Sorry, I close it because I found it to be duplicated with this one: https://github.com/NativeScript/NativeScript/issues/9353

[2021-08-30 15:26] #9527 closed

[2021-08-31 14:18] kriefsacha opened #9529 "Info - User share screen for support"
Hi,

This is not a feature request but more a question.

I wanted to know if there is a way, maybe by a plugin that i didn't find (did some research), to make the user to be able to share his/her screen for support.

Let's say he/she has a problem, i want to see what happens, i can tell him to enable the sharing screen and like this i'm able to see what's happening, and even maybe more, control it

[2021-08-31 16:34] cjohn001 commented on #9375
@Bezlepkin : Have you found a solution to bring back the old behavior?

[2021-08-31 20:03] #8873 closed

[2021-09-01 06:29] Bezlepkin commented on #9375
yes. App_Resources/Android/src/main/res/values-v21/styles.xml
![2021-09-01_09-28-50](https://user-images.githubusercontent.com/10475699/131622744-47830e6a-7b75-4cb0-bbbc-21beb80b6fcf.png)

[2021-09-01 06:29] #9375 closed

[2021-09-01 07:15] Bezlepkin commented on #9375
hhhmmmmm... maybe it?!

<item name="android:windowTranslucentStatus">false</item>

[2021-09-01 21:22] atmanegara commented on #9525
i use template tab navigation, and in detail-page.xml i add another tabview, i think tabview in main-page will disappear if i switch page and replace with existing tabview on next page

[2021-09-02 07:28] kriefsacha commented on #9529
@janoshrubos i think the bot didn't like your label 😅

[2021-09-02 07:38] janoshrubos commented on #9512
Thank you for your issue!

  The Playground and the Preview app don’t support NativeScript 8 yet, the implementation is in progress.

[2021-09-02 07:49] janoshrubos commented on #9491
Thank you for your issue!

The flavor icons will link to flavor specific pages, which are currently in progress.

You can access to the Angular related docs by choosing the Angular in the tabs above codes.
(e.g. https://docs.nativescript.org/ui-and-styling.html#actionbar)

[2021-09-02 08:08] janoshrubos commented on #9529
@kriefsacha yes 😅 we will fix that, looks like this bot is no longer maintained

[2021-09-02 08:10] kriefsacha commented on #9529
Okay @janoshrubos , thanks for your help. When you can also answer my question .. 😅

[2021-09-02 08:32] janoshrubos commented on #9529
@kriefsacha I would if i could, however it is a really interesting topic and i hope somebody can answer.

[2021-09-02 08:36] janoshrubos commented on #9476
Could you share the error message in the console when your app fails to start?

[2021-09-02 08:41] janoshrubos commented on #9466
Closing this issue since the solution is merged to master. 
If this error is still relevant, feel free to open a new issue!

[2021-09-02 08:41] #9466 closed

[2021-09-02 08:42] mrwrighty opened #9531 "iOS Buttons not working unless I click background"
ns 8
xcode 12.4

I have a strange issue where some buttons will not work if I click the text, but clicking the background of the button works. This appears to be an issue only on iOS and not Android.

Buttons are defined:

`<GridLayout columns="10,*,*,*,*,10" rows="50">
    <Button row="0" col="1" text="All" class="topButtonOn" id="all" marginTop="20" tap="tapAll"></Button>
        <Button row="0"

[2021-09-02 08:48] #9457 closed

[2021-09-02 09:06] janoshrubos commented on #9445
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-02 09:06] #9445 closed

[2021-09-02 09:20] janoshrubos commented on #9439
this is a different error message, but it looks like the plugin doesn't support {N} 7+ yet.  https://github.com/nstudio/nativescript-camera-plus/issues/164

[2021-09-02 09:22] janoshrubos commented on #9429
Closing this issue since the solution is merged to master.

If this error is still relevant, feel free to open a new issue!

[2021-09-02 09:22] #9429 closed

[2021-09-02 09:46] edusperoni commented on #9439
It is updated here: https://github.com/nstudio/nativescript-plugins

I suggest opening an issue there

[2021-09-02 09:46] #9439 closed

[2021-09-02 09:56] vallemar commented on #9529
@kriefsacha I do not think there is anything so specific for NS, at least I have searched and I have not found. The best thing would be to search for Android and iOS directly

[2021-09-02 12:32] kriefsacha commented on #9529
For now i found that team viewer made an app called "QuickSupport" which seems to work very good. The only thing is that it requires for me to tell the customer to download it, enable the settings, give his/her ID ...

If someone would make a plugin that we would be able to put into the app directly to just even see the screen of the customer that would be awesome !

I'm gonna continue looking and

[2021-09-02 12:52] janoshrubos commented on #9398
Closing this issue due to inactivity. 

If this error is still relevant, feel free to open a new issue!

[2021-09-02 12:52] #9398 closed

[2021-09-02 12:53] farfromrefug commented on #9529
@kriefsacha what about using sentry? You can attach file to an event. So you would just need to take a screenshot and attach it.

[2021-09-02 13:01] kriefsacha commented on #9529
@farfromrefug from what i see you can't see what the user is doing in real time with this. My goal is to be able to see what the user is doing for support purposes

[2021-09-02 13:04] janoshrubos commented on #9383
I've found a solution on Stack Overflow, i hope it will help: https://stackoverflow.com/a/66771694

These are the steps I did to get back to a working state (and to apply the M1 workarounds for ffi):

Uninstall Ruby with: brew uninstall ruby --force
Uninstall CocoaPods. At first, try to list all CocoaPods versions / components with gem list --local | grep cocoapods. Then uninstall them one by one,

[2021-09-02 13:05] vallemar commented on #9529
@kriefsacha If you take captures every 0.5 seconds, you could send them and on the other side it would give the sensation of video

[2021-09-02 13:12] janoshrubos commented on #9363
@maxlam79 here is a workaround posted on the other issue by @NathanWalker: https://github.com/NativeScript/NativeScript/issues/9358#issuecomment-836831374

I hope that helps you!

[2021-09-02 13:16] #9363 closed

[2021-09-02 13:25] kriefsacha commented on #9529
I don't know i think for now the best solution is to have the Team Viewer QuickSupport app installed and then be able to see and interact with the customer

[2021-09-02 13:33] janoshrubos commented on #9344
I'v tried to reproduce this issue on a vue project, but `:minHour="8"` and `:maxHour="20"` works as expected for me.

Could you please post your `handleTimeChange` function?
The earliest valid date should be January 1, 1970, UTC, but in the error there is Sun Dec 31 1899 10:42:00 somehow.

[2021-09-02 13:52] janoshrubos commented on #9302
Closing this issue and move it to the [NativeScript/docs-new](https://github.com/NativeScript/docs-new) repo: https://github.com/NativeScript/docs-new/issues/34

[2021-09-02 13:52] #9302 closed

[2021-09-02 15:16] mrwrighty commented on #9529
Anydesk for Android

[2021-09-02 15:30] kriefsacha commented on #9529
@mrwrighty Anydesk or TeamViewer would be pretty much the same no ?

[2021-09-02 15:43] farfromrefug commented on #9529
@kriefsacha you are right i am sorry i misread your question ! There are also some open source alternatives on f droid (on recent vnc rust app). You should be able to extract the code and integrwte directly in your app

[2021-09-02 16:51] JWiseCoder commented on #8062
It looks like this is now required for iOS 15.  Without this change, we won't be able to build for the latest iOS version.

[2021-09-02 17:44] rigor789 commented on #8062
@JWiseCoder addressed here: https://github.com/NativeScript/NativeScript/pull/9530

[2021-09-02 18:35] anarnoli commented on #9383
Thanks @janoshrubos I followed the same steps to get it resolved some time back.

[2021-09-02 18:35] #9383 closed

[2021-09-03 08:17] Pritom-Mazhi opened #9532 "× Cannot find a compatible Android SDK for compilation. To be able to build for Android, install Android SDK 28 or later. Run `$ sdkmanager` to manage your Android SDK versions. × You need to have the Android SDK Build-tools installed on your system. You can install any version in the following range: '>=23 <=30'. Run `$ sdkmanager` from your command-line to install required `Android Build Tools`. In case you already have them installed, make sure `ANDROID_HOME` environment variable is set correctly."
[code]

[2021-09-03 10:10] edusperoni commented on #9532
Hey @Pritom-Mazhi!

When opening an issue we ask you to submit them according to the issue template provided for Bug Reports/Features. That said, you can ask for support on StackOverflow or our community's Slack or Discord (https://nativescript.org/discord).

Most likely your ANDROID_HOME isn't properly configured. You can check that with `which sdkmanager` and `echo $ANDROID_HOME`

[2021-09-03 10:10] #9532 closed

[2021-09-03 11:19] mrwrighty commented on #9531
OK it appears the GridLayout is causing the issue. If I remove the GridLayout from the code above, the buttons works as expected.

[2021-09-03 15:11] plackowski commented on #9237
Still not working

[2021-09-03 16:37] AdamAtri commented on #5554
there is a really simple fix for this if this is still an issue for anyone:
[code]

[2021-09-03 22:20] angryloner opened #9535 "pod install fails M1 Macbook"
I can't seem to get ios to run, natively or using rosetta

When I run with ns prepare ios --log trace I see it failing here:

`Installing pods...
Running on arm64 - running pod through rosetta2.
spawn: arch "-x86_64" "pod" "install"
arch: posix_spawnp: pod: Bad CPU type in executable
Result when throw error is false:
{ stdout: '', stderr: '', exitCode: 1 }
'arch install' command failed.

Error: 'a

[2021-09-03 22:48] rigor789 commented on #9535
I'm not sure how you installed CocoaPods, I would uninstall it, and then install it inside rosetta2 (or just `sudo arch -x86_64 gem install cocoapods`). The end goal is to have cocoapods as an x86_64 executable rather than an arm64 one - because so far it's had trouble running natively.

The nativescript stack is fully working on arm64 - with the exception of cocoapods - which the CLI spawns with

[2021-09-03 22:51] LaKing commented on #9535
I installed cocoapods by the docs on my M1, it works. Yes, those command line arguments are essential, ...

[2021-09-04 00:49] Rob4226 commented on #8930
@plackowski Follow this [thread](https://github.com/NativeScript/nativescript-vscode-extension/issues/284). If you see my last [comment](https://github.com/NativeScript/nativescript-vscode-extension/issues/284#issuecomment-906135240), I just got it working again.

[2021-09-04 06:00] angryloner commented on #9535
I got it working!

I installed homebrew in my Rosetta terminal and followed the instructions in there, after first uninstalling cocoapods.

Suspect I messed everything up by following the instructions in the M1 terminal first time around.

Thanks folks.

[2021-09-04 06:08] #9535 closed

[2021-09-04 10:18] cjohn001 commented on #9515
@farfromrefug : Sorry to bother you with it, but as the issue is one of the last things that prevent me from an android release, I would like to ask you if the demo app I provided worked for you and if you are seeing the issues. Thanks for your feedback.

[2021-09-05 07:56] farfromrefug commented on #9515
@cjohn001 your demo app wont run here. Some error about `_domId`. Cant push it further (and dont know nothing about angular). But could you test with `@nativescript/core:8.1.0-alpha.7` and not the sap one?

[2021-09-05 08:23] cjohn001 opened #9536 "iOS: NS ListView (core) broken (multiple cells with different height not working anymore)"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.2-next-08-13-2021-1128363962
 - Cross-platform modules: @nativescript/core: 8.0.10
 - Android Runtime: 8.0.0
 - iOS Runtime: JSC
 - XCode Version:

**Describe the bug**
The issue is appearing

[2021-09-05 08:34] cjohn001 commented on #9536
@farfromrefug: I have seen that you replaced the IOS ListView. Might it be the same issue which now appears with CollectionView?

[2021-09-05 08:45] cjohn001 commented on #9515
@farfromrefug: I also tried with @nativescript/core:8.1.0-alpha.7  now. Still the same problem.

Not sure what the problem might be. It is a recent basic ng template I am using. And it should run with issues. What tns version have you installed? Could you please try to run with

ns run android --no-hmr

[2021-09-05 08:53] farfromrefug commented on #9515
@cjohn001 this is what i do and i am up to date on almost everything. It should work. Sorry i cant push further on that angular demo. I am still on holidays and wont have much time until mid september

[2021-09-05 08:55] cjohn001 commented on #9515
@farfromrefug: You mentioned that the problem should have been fixed. Could you give me some directions. What you should considered the problem? I will than have a look at the core sources. Maybe I can solve it.

[2021-09-05 09:31] cjohn001 commented on #9536
Update: It seems that the issue is not directly related to the ListView. I were not able yet to isolate the root of the problem. What I can say is, that the ListView is in a dynamic sized GridLayout (rows are bound) in order to be able to animate a header.
When the bound _gridLayout is changed, it seems the ListView is not correctly redrawn. I already tried to refreshCells manually after animation

[2021-09-05 10:21] cjohn001 commented on #9536
For people observing the same issue. I was able to workaround the problem with the dynamic resizing, by forcing a redraw via ngIf, each time I am loading new data to the ListView. Before setting _diaryEntries to a new value, I reset it to null.

<ListView row="1" id="idListView" *ngIf="_diaryEntries !== null" >

[2021-09-05 11:22] cjohn001 commented on #9536
I'll close the issue, as I assume the resizing needs to be handled by application code.

[2021-09-05 11:22] #9536 closed

[2021-09-05 11:37] cjohn001 commented on #9515
Update: I assume, the second bug my example shows (not the page reload on), i.e. loading local files, is related to the new way google requests file loading, see discussion here:

https://www.b4x.com/android/forum/threads/webview-access-denied-with-api-30.132424/

[2021-09-05 19:52] farfromrefug commented on #9515
@cjohn001 in 8.1.0 fragments are not destroyed on navigation forward which was causing a lot of issues. Now you can check if unloaded/loaded is still called on thw webview on navigation forward/back. That could be the issue in how webview handles those events

[2021-09-06 02:30] LouieTian0209 commented on #6984
I am facing this issue as well. For me this happens when I'm trying to open a modal page on app launch, the result would be this error message in console and modal page fails to open. If I, however, add a setTimeout for opening modal page on launch, everything is fine and this error won't show up.

[2021-09-06 08:06] janoshrubos commented on #9257
`@nativescript/template-tab-navigation` is an app template with pre-built pages that uses tabs for navigation.

There is no need to install it as a plugin, you can create a project with `ns create MyCoolApp --template @nativescript/template-tab-navigation` or select `Tabs` in the prompts.

If you would like to implement the tab navigation in your app, you can also use the [template](https://github

[2021-09-06 08:16] #9213 closed

[2021-09-06 08:22] #9207 closed

[2021-09-06 08:28] janoshrubos commented on #9206
Thank you for your issue!

Closing this since in the [new docs](https://docs.nativescript.org/environment-setup.html#macos-ios) the environment setup had been rewritten with fixes.

[2021-09-06 08:28] #9206 closed

[2021-09-06 08:35] #9181 closed

[2021-09-06 08:46] s0l4r commented on #9058
Having the same issue with NS 8 and Angular 12 and Devtools for Chrome (Version 93.0.4577.63 (Official Build) (x86_64)). The debugger works about 10%, and in latest Chromium it does not work at all. Is there any alternative or how do we debug without it?

[2021-09-06 09:10] janoshrubos commented on #9137
did this release solve your crash issue? https://github.com/NativeScript/ns-v8ios-runtime/issues/98

[2021-09-06 09:15] aaayushsingh commented on #9137
@janoshrubos  couldn't get much help from that release. However when I enabled bitcode when building the app, it somehow didn't crash in App Store review.

NativeScript/ns-v8ios-runtime/issues/104#issuecomment-776510680

[2021-09-06 09:24] janoshrubos commented on #9137
@aaayushsingh thank you for your response! i'm glad you found a solution

[2021-09-06 09:39] #9106 closed

[2021-09-06 09:45] #9097 closed

[2021-09-06 09:47] janoshrubos commented on #9075
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-06 09:47] #9075 closed

[2021-09-06 09:54] #9081 closed

[2021-09-06 10:01] #9137 closed

[2021-09-06 10:24] janoshrubos commented on #9072
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-06 10:24] #9072 closed

[2021-09-06 10:44] #9036 closed

[2021-09-06 12:18] #8990 closed

[2021-09-06 12:20] s0l4r commented on #8882
Same issue on NS8 and iOS 14.5 and VScode 1.60 debugger:

[code]

The error is very random, sometimes it works and sometimes it does not. When using "stopOnEntry": true,  in launch.json, it crashes as well:

[code]

[2021-09-07 09:08] Ed-Simmons opened #9537 "[ @nativescript/core ] [ NS 8 ] -- isIOS & isAndroid both return false"
**Environment**
 - CLI: v8.0.2
 - @nativescript/core: v8.0.10
 - Android Runtime: v8.0.0
 - iOS Runtime:  v8.0.0

**Describe the bug**
Both the `isIOS` & `isAndroid` constants exported from @nativescript/core return false, regardless of platform.

**To Reproduce**
[code]
on both iOS and Android, the following is printed to the console:
[code]

**Expected behavior**
The booleans should reflect the

[2021-09-07 13:44] rigor789 commented on #9537
@Ed-Simmons what is your `@nativescript/webpack` version? And what's in your `webpack.config.js`?

[2021-09-07 14:40] BunnyTheLifeguard commented on #9512
Where can we expect to get the info when it is ready?

[2021-09-07 14:52] rigor789 commented on #9512
@BunnyTheLifeguard we'll announce anything as usual on Twitter & a blog post, as well as post about it on Discord/Slack.

[2021-09-07 16:03] Ed-Simmons commented on #9537
Hi @rigor789,

[code]

[code]

[2021-09-07 17:24] ouss4m4 opened #9538 "nativescript-ui-autocomplete crash on type"
**Environment**
 - CLI: 8.0.2
 - Cross-platform modules:  Provided in package.json below
 - Android Runtime: N/A
 - iOS Runtime: 14.4
 - XCode Version: 12.4
 - Plugin(s): nativescript-ui-autocomplete

**Package.json**

[code]

**Describe the bug**
when i run ns platform add android , i get this warning:

[code]
the app runs on both platforms. and crashes when i type anything inside the autocomplet

[2021-09-07 19:17] rigor789 commented on #9537
Yep, `webpack.platform` is always `undefined`.

These are the default defines: https://github.com/NativeScript/NativeScript/blob/3e2e5dfe9d8e33a0e76dc5cb15aad82caee682c3/packages/webpack5/src/configuration/base.ts#L347-L364

You should only extend them with:
[code]

But note: webpack5 has built-in DotEnv support, just add a `.env` file & access with `process.env.VAR_NAME`.

[2021-09-07 19:38] NathanWalker commented on #9538
Thank you for reporting this, we'll get a patch update out shortly for this.

[2021-09-07 19:43] NathanWalker commented on #9538
Actually @ouss4m4 could you update all your Angular dep's to latest: `"^12.0.0",

And also the following:
[code]
You can also remove `reflect-metadata` as no longer used.

Your devDependencies should look like this:
[code]
You can also add the `polyfills.ts` file mentioned here - see this post for all the details:
https://blog.nativescript.org/nativescript-angular-12/index.html

nativescript-ui-au

[2021-09-08 07:53] Ed-Simmons commented on #9537
Oh wow, built-in dotenv! That's a game changer indeed.

I've run a little test this morning, and sure enough, I can reduce my webpack config down to the bare minumum which is lovely:

[2021-09-08 09:48] #8761 closed

[2021-09-08 10:14] ouss4m4 commented on #9538
Thank you for the clarification @NathanWalker .
i just updated my package.json  ,added my pollyfills, referenced my namespace, that removed all the errors on my side.
but now i am struggling with 4 errors that are related to webpack removing pollyfills on version 5 i guess ?.

`ERROR in ./node_modules/css/lib/stringify/source-map-support.js 9:9-22
Module not found: Error: Can't resolve 'fs' in '~\

[2021-09-08 10:35] janoshrubos commented on #7622
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-08 10:35] #7622 closed

[2021-09-08 10:39] janoshrubos commented on #7748
Fixed in https://github.com/NativeScript/NativeScript/pull/8114

[2021-09-08 10:39] #7748 closed

[2021-09-08 16:01] harshne opened #9540 "Basic hello world app errors out on tns preview"
Hello,

I opened up nativescript playground and wanted to develop locally using it.

upon going into my project folder and typing : tns preview i get the following error messages:

this is without any modification and base example app that is created by playground.

*****************************

$ tns preview
You are using the deprecated nsconfig.json file. Just be aware that NativeScript now has

[2021-09-09 02:13] NathanWalker commented on #9538
I haven't seen these before - perhaps @rigor789 may have idea?

[2021-09-09 08:29] Epse commented on #9058
This gets labeled as a bug now?? Delightful

[2021-09-09 08:46] rigor789 commented on #9058
@Epse https://github.com/NativeScript/android-runtime/pull/1672 should be fixed in 8.1.0 soon. And a heads up, debugging issues like these takes a while - and can end up being a lesser priority than bugs that affect production.

_PS.: Snarky comments are not motivating for anyone to then take hours of their free time to fix something, just fyi..._

[2021-09-09 08:51] Epse commented on #9058
Hi @rigor789 fully aware about snariness not being terribly great fun, I should have written my comment better. What I wanted to express was that for bug reporters (not me in this case) it is also not very motivating to have it suddenly get marked a bug after a whole year. We can't see the progress, and seeing a label appear is a "oh now they notice this?" moment. In the past, I have used an "i-ha

[2021-09-09 09:00] rigor789 commented on #9058
@Epse no worries. I understand the frustration, I do experience it from both sides (maintainer and consumer), we'll try to label issues sooner and better. It is one of our roadmap goals to improve the repository health with better labeling, using the discussions more, etc.

[2021-09-09 09:02] Epse commented on #9058
@rigor789 so great to hear you all are keeping this in mind! Thank you very much

[2021-09-09 10:22] felixkrautschuk commented on #8126
I don't want to party too soon and I still need to test a bit, but for now it looks like the problem has been solved with @nativescript/core 8.1.0! At least I am not able to reproduce the issue anymore with suspending & resuming the app 50 times.

[2021-09-09 11:54] janoshrubos commented on #9540
Thank you for your issue!

  The Playground and the Preview app don’t support NativeScript 7,8 yet, the implementation is in progress.
  We'll announce anything as usual on Twitter & a blog post, as well as post about it on Discord/Slack.

  By the time you can run your project on your device connected via USB with `ns run ios` or `ns run android`.

Closing this issue since there are a few about t

[2021-09-09 11:54] #9540 closed

[2021-09-09 12:02] janoshrubos commented on #9416
Duplicate of https://github.com/NativeScript/NativeScript/issues/7712

[2021-09-09 12:02] #9416 closed

[2021-09-09 12:03] janoshrubos commented on #8487
Duplicate of https://github.com/NativeScript/NativeScript/issues/7712

[2021-09-09 12:03] #8487 closed

[2021-09-09 12:06] janoshrubos commented on #9344
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-09 12:06] #9344 closed

[2021-09-09 12:08] #9327 closed

[2021-09-09 12:11] janoshrubos commented on #9267
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-09 12:11] #9267 closed

[2021-09-09 12:27] #9011 closed

[2021-09-09 12:31] #8943 closed

[2021-09-09 12:38] felixkrautschuk commented on #9537
@Ed-Simmons I think `isAndroid` & `isIOS` is working fine, except when used within `app.ts`. I also use the workaround in app.ts, but in other files `isAndroid` & `isIOS` are working as expected.

[2021-09-09 14:45] shhtaheri commented on #9493
npm i vue-loader@latest

[2021-09-09 20:22] rigor789 commented on #9537
@Ed-Simmons isn't it nice and clean? 🎉

And yep those declares are fine - we're going to add them somewhere, just haven't found the right spot for them yet (should it be in core globals? or should it be in `@nativescript/webpack` somewhere since it's being added from there...?).

The ones from `@nativescript/core` are set to `global.isAndroid` which is also defined in the webpack config and should

[2021-09-10 11:24] kandangit commented on #9538
In my case, the app crashes after upgrade of @nativescript/core from 8.0.0 to 8.1.0

I believe is the same or related to this issue.

It does on a screen with a ListView;
[code]

I reverted the version back to 8.0.0 so it works.

[2021-09-10 11:39] #9029 closed

[2021-09-10 11:41] janoshrubos commented on #8984
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-10 11:41] #8984 closed

[2021-09-10 11:54] janoshrubos commented on #8927
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-10 11:54] #8927 closed

[2021-09-10 12:46] janoshrubos commented on #8661
I've tried to reproduce this issue, but it looks like it had been fixed.

If this error is still relevant, feel free to open a new issue!

[2021-09-10 12:46] #8661 closed

[2021-09-10 14:28] rigor789 commented on #9538
@ouss4m4 @NathanWalker first time seeing that, suspect it's some dependency loading issue, but would need a test project to debug/figure out. One thing that could affect it is if your `main` in `package.json` is incorrect, it should point to the actual entry file of your app like `"main": "./src/main.ts"`.

@kandangit if you are using `@nativescript/webpack` update it to `5.0.0` - if you are on we

[2021-09-10 15:00] kandangit commented on #9538
@rigor789

Many thanks, that worked. I had already upgraded but to "5.0.0-beta.16" with `npm i --save-dev @nativescript/webpack` instead.

Setting to 5.0.0 fixed the issue. Cheers.

[2021-09-10 17:52] #5202 closed

[2021-09-10 18:04] ouss4m4 commented on #9538
@rigor789 @NathanWalker

i could not resolve the issue with nativescript-ui-automcplete 8 and angular 12.
i rolled back to the following config

[code]
Now everything works on Android again.

but in iOS i got the multitask error when 2 different packages rely on the same package but on different version,  i used xCode to remove one binary from being assigned (the - key on xCode after i build up th

[2021-09-11 20:39] pierremacedo commented on #9372
Same here. Icons are not being created by tns resources.

[2021-09-13 07:03] pekevski commented on #9482
As og today they have brought them back and you can see them here: [https://nativescript.org/showcase/](https://nativescript.org/showcase/)

[2021-09-13 09:24] Pritom-Mazhi opened #9544 "Android app is always crushing on the emulator on windows10"
**Environment**
 - NS CLI: 5.4.1
 - Node: 12.18.2

**Describe the bug**

**tns doctor**
[code]

**tns buld android**
[code]

**tns run android**　**CMD Log**
[code]

**Emulator Log**
[code]
Screenshot:
![emulator-problem-windows](https://user-images.githubusercontent.com/23057928/133223797-8d4e977b-d019-405e-95c9-3a58d519c106.png)

[2021-09-13 10:08] teha-at commented on #9263
@farfromrefug I tried it again with 8.1.1 and the error are still there. Do you have any ideas why the fix #9223 don't work?

[2021-09-13 11:03] #9482 closed

[2021-09-13 11:09] rigor789 commented on #9544
NS CLI: 5.4.1 is a very old version - try updating to the latest version.

I believe the 8.1.1 CLI should be able to run your project, just a few things that will definitely need to be updated:
- `tns-core-modules` to `6.5.27`
- `tns-android` to `6.5.3`

If your app is not using webpack, then you will also need to integrate webpack, non-webpack apps are considered legacy and will not be supported.

[2021-09-13 11:22] rigor789 commented on #9263
@teha-at hmm I'm not sure if we ended up merging #9223 - the reason it was (auto) closed is because the target branch has been deleted.

[2021-09-13 20:31] mrh1997 opened #9545 "runSbg fails silently on error"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.1
 - Cross-platform modules: 8.0.3
 - Android Runtime: 8.0.0
 - iOS Runtime: -
 - XCode Version: -
 - Plugin(s): svelte-native-preprocessor, typescript

**Describe the bug**
When passing an i

[2021-09-13 22:53] rigor789 commented on #9545
Try the 8.1.0 android runtime, jsparser has been updated & I believe it should process the `?.` operator correctly now.

[2021-09-14 01:17] samiul-gtmi commented on #9544
I'm trying to run a client project by building their existing environment. So that If it runs, I can perform some feature tests on it. After the test, the upgrade will be decided. Currently It runs perfectly fine on this environment on the client's windows machine.  So, therefore I need a fix on the old **nativescript-5.4.1** version.

[2021-09-14 03:23] edusperoni commented on #9544
This error implies that some plugin/dependency in your project is using the scoped package, which was introduced in 6.0 or 6.2 I believe. This means that one of your dependencies is in the wrong version that is not compatible with your NativeScript version (5.4). Your client probably has a different version of a package on their machine, so I suggest checking your package-lock.json.

There isn't a

[2021-09-14 05:55] samiul-gtmi commented on #9544
Thank you very much for your detailed reply. I really appreciate it, because it helped me to understand the problem more clearly.
Can you kindly tell me the name of the plugin/dependency, that is using the scoped package and was introduced in later 6.0 or 6.2?

[2021-09-14 08:06] teha-at commented on #9263
@rigor789 oh thats annoying. What can we do to make sure it's in the next version?

[2021-09-14 17:11] darkyelox commented on #9493
I'm in a NativeScript 8.1 migrated project using Angular and I have this error with vue-loader

[2021-09-14 21:50] mrh1997 commented on #9545
Correct. I tested 8.1.1 and it worked without problems.

[2021-09-14 21:50] #9545 closed

[2021-09-15 08:58] sebj54 commented on #9531
It seems related to https://github.com/NativeScript/NativeScript/issues/8896. I have the same behavior in a GridLayout and also in a `StackLayout`.

But I have a different problem I guess because even if I click the background, it does not emit `tap` event. I don't know what is the cause because there is no error, it just does not work.

[2021-09-15 09:23] mrwrighty commented on #9531
Have you checked your code as per [https://github.com/NativeScript/NativeScript/issues/8896](url) where a comments states about code errors stopping the buttons working. My fix was to remove the GridLayout and use a StackLayout instead. This immediately fixed my issue.

[2021-09-15 09:33] sebj54 commented on #9531
Unfortunately, I have no error in the console so it's hard to say :( It's very hard to debug because those buggy buttons sometimes work (I don't reload anything except the page by navigating to any other page). I tried your suggestion but even with a `StackLayout`, they are also disabled.

When buttons don't work, they change to their focus style (lighter background). Very weird…

[2021-09-15 09:34] mrwrighty commented on #9531
Very Strange

Are you able to post the XML code for the buttons and the snippet of code that should trigger.

[2021-09-15 09:39] mrwrighty commented on #9529
I recommend AnyDesk. User isn't required to enter any details. You can also create custom Android versions (Company Logo) if you subscribe to the service. We moved from Teamviewer years ago becuase it got ridiculously expensive. Anydesk will run on virtually any platform including iOS.

[2021-09-15 09:50] sebj54 commented on #9531
I will but the page is a bit complex and it will add too much noise. I'm actually removing useless code from the page so maybe I'll be able to identify the cause or at least provide a simple reproduction scenario.

[2021-09-15 09:56] mrwrighty commented on #9531
I stripped back the code just to show an alert until I fixed the issue I was having. Sometimes the code you want to run just gets in the way. You could even strip out the code to a new app and do all your testing there then transfer the code back to your working app once fixed.

[2021-09-15 12:46] sebj54 commented on #9544
If you'd like to run the project exactly like on your customer's computer, you should grap his `package-lock.json` file.

Once you have this file in your project, run `npm ci`. You should then have the dependencies in the same version as your customer now.

`package-lock.json` is a very important file, it allows to pin dependencies on specific versions. [More info](https://docs.npmjs.com/cli/v7/co

[2021-09-15 13:36] sebj54 opened #9546 "App crashes on Android with background-image: none"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.1
 - Cross-platform modules: 8.1.1
 - Android Runtime: 8.1.1
 - iOS Runtime: N/A
 - XCode Version: N/A
 - Plugin(s): none

**Describe the bug**

When using `background-image: none` on a `Page

[2021-09-15 13:40] farfromrefug commented on #9546
@sebj54 thanks for the report will fix it tomorrow (if no one does it before ;))

[2021-09-15 15:46] #9537 closed

[2021-09-15 17:04] #9546 closed

[2021-09-15 17:09] NathanWalker commented on #9546
https://github.com/NativeScript/NativeScript/releases/tag/8.1.2-core

[2021-09-15 17:19] sebj54 commented on #9546
Thank you guys for the quick fix! You're awesome 😎

[2021-09-16 06:23] AndreasKarlzzon commented on #9353
+1

[2021-09-16 07:21] #1767 closed

[2021-09-16 07:48] janoshrubos commented on #4201
Closing this issue since the implementation is merged to master. 
If this error is still relevant, feel free to open a new issue!

[2021-09-16 07:48] #4201 closed

[2021-09-16 07:52] janoshrubos commented on #5224
Closing this issue since the implementations are merged to master. 
If these errors are still relevant, feel free to open a new issue!

[2021-09-16 07:52] #5224 closed

[2021-09-16 07:58] jamescodesthings commented on #9263
Confirmed the code isn't in the master branch:
[code]
gives no results.

Can the PR be reopened and targeted at the next branch?

[2021-09-16 08:10] farfromrefug commented on #9263
@rigor789 @jamescodesthings @teha-at i opened a PR on master https://github.com/NativeScript/NativeScript/pull/9548

[2021-09-16 08:45] janoshrubos commented on #5976
Closing this issue since the implementation is merged to master. 
If this error is still relevant, feel free to open a new issue!

[2021-09-16 08:45] #5976 closed

[2021-09-16 11:47] janoshrubos commented on #9423
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-16 11:47] #9423 closed

[2021-09-16 14:27] Lucaszw opened #9549 "Can't seem to extend android application"
I've been following the procedure to extend the android application here.:

https://docs.nativescript.org/advanced-concepts.html#extending-the-android-application

However i continually get the following error:
[code]

I can surpress the problem by commenting the following after the first build in the webpack config
[code]

However, this seems to prevent the application from ever launching

I am u

[2021-09-16 18:07] Lucaszw commented on #9549
Update: appears to work with angular starter projects (but not vanilla typescript / javascript projects)

[2021-09-16 19:14] rigor789 commented on #9549
@Lucaszw ok I know why this is happening, and the "solution" right now would be to move the file outside the app/src folder.

Core has a `require.resolve` call in the entry file to resolve all other xml, ts etc files in the project. It also picks up this custom application class and conflicts with the custom entry added for it...

[2021-09-16 19:35] Lucaszw commented on #9549
Thanks @rigor789 ! That worked :)

[2021-09-17 00:40] Pritom-Mazhi commented on #9544
@sebj54  Thank you very much for your detailed reply, it solved the problem.

[2021-09-17 01:08] #9544 closed

[2021-09-17 06:44] codephobia commented on #5554
Anyone manage to take a look at this in NS8 / Angular 12, specifically with the new NativeDialogModule / NativeDialogService? Was using the DialogUtil in NS6 but seems to be having issues in NS8.

[2021-09-17 12:04] jnorkus commented on #5554
I just switched to RootLayout and found it to be superior.

[2021-09-17 12:05] sercanozen commented on #8494
+1 same problem

[2021-09-17 12:50] matteonatale commented on #8494
Thank you @sercanozen, now it works! 😉

[2021-09-17 14:03] jcassidyav opened #9550 "NS 8.1 IOS 15 flat no longer working on actionBar"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):

✔ Getting NativeScript components versions information...
✔ Component nativescript has 8.1.2 version and is up to date.
✔ Component @nativescript/core has 8.1.2 version and is up to date.
✔ Component @n

[2021-09-17 16:55] HeyKJ opened #9551 "When I have to use the extends keyword twice for the same java class(nativescript-vue + google admob)"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI:
 - Cross-platform modules:
 - Android Runtime: **8.0.0**
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):
**com.google.android.gms:play-services-ads:20.2.0**

**Describe the bug**

**Home.vue**
[c

[2021-09-17 17:09] rigor789 commented on #9551
If you extend a class usually a `.java` file is generated with a "random" name - if you extend the same class multiple times - there will be multiple `.java` files for each extension.

In this case, I think you only get 1 `.java` file - but during runtime, a new extended class is created.

1. is done by the sbg - static binding generator
2. during runtime the rbg kicks in - runtime binding generat

[2021-09-18 23:39] DieOver commented on #5665
Hey, @NickIliev some news about that ? ConstraintLayout & AutoLayout implementation ?

Look forward for this feature..

[2021-09-19 11:09] vallemar commented on #4594
New on NS7, 8...
[code]

[2021-09-19 23:28] sudiptosen opened #9553 "Using Http.getFile with POST - body is always `undefined`"
**Environment**
NativeScript: 7.2.1
@nativescript/core: 7.0.0
@nativescript/ios: 7.2.0
@nativescript/android:8.0.0

*Issue Description*
The goal is to do a POST request with a json body. The returned Response will be a File

----------------------------
Sample NS Code part
----------------------------

`Http.getFile(

 {
  url: testUrl,
  method: 'POST',
  content: JSON.stringify({data: 3000})
 })

[2021-09-20 08:15] janoshrubos commented on #9553
I checked your sample, but i think the problem is related to express.

With your example the request body is `undefined` on the server log, but you could try `body-parser` on the server side:

[code]

I've got the expected result with this package. I hope it helps

[2021-09-20 09:20] mahmoudajawad opened #9554 "IPHONEOS_DEPLOYMENT_TARGET is ignored in Nx workspace"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.2
 - Cross-platform modules: 8.1.3
 - Android Runtime: N/A
 - iOS Runtime: 8.1.0
 - XCode Version: 12.4
 - Plugin(s): N/A

**Describe the bug**
As discussed in #8772, and the suggested soluti

[2021-09-20 09:31] mahmoudajawad commented on #9554
The workaround I was able to come up with is:
8. Set the target manually to 11 in xcode
9. Create a plugin in the workspace with a `Podfile` containing a pod requiring target `11.0`
10. Build the workspace again without removing `platforms` folder of `demo-angular` app.
11. Pod installed successfully.

[2021-09-20 12:39] eugenek0110 opened #9556 "Swipe action"
**Environment**
 - Android Runtime:
+Angular (+ last nativescript version 8.1.1)
    "@angular/compiler-cli": "^12.2.0",
    "@nativescript/android": "8.1.1",
    "@nativescript/types": "~8.1.1",
    "@nativescript/webpack": "~5.0.0",
    "@ngtools/webpack": "^12.2.0",
    "typescript": "~4.3.5"

**Describe the bug**
![image](https://user-images.githubusercontent.com/69813700/134003355-53db75e1-66

[2021-09-20 12:40] eugenek0110 commented on #9556
![image](https://user-images.githubusercontent.com/69813700/134003698-fbc148a1-1a5f-4e5e-808a-9423a844159b.png)
After swipe and on swipe screenshot

[2021-09-20 12:48] vallemar commented on #9556
any more information? a repository?

[2021-09-20 12:54] eugenek0110 commented on #9556
@vallemar https://github.com/eugenek0110/vocabulary.git

[2021-09-20 12:59] vallemar commented on #9556
can you tell where you are mounting the list?  the file...

[2021-09-20 13:01] eugenek0110 commented on #9556
src/app/home/item-detail/item-detail.component

[2021-09-20 13:02] #8336 closed

[2021-09-20 13:17] #8329 closed

[2021-09-20 13:17] #8317 closed

[2021-09-20 13:17] #7988 closed

[2021-09-20 13:19] #7717 closed

[2021-09-20 13:26] #6294 closed

[2021-09-20 13:27] #6321 closed

[2021-09-20 13:30] #6468 closed

[2021-09-20 14:22] AndreasKarlzzon commented on #6654
+1

[2021-09-20 14:41] prokkyb opened #9557 "Text overlapping in RadListView on Android"
Environment:
 - CLI: 8.1.1
 - Cross-platform modules: 8.0.8
 - Android Runtime: 8.0.0
 - iOS Runtime: n/a
 - XCode Version: n/a
 - Plugin(s): "nativescript-ui-listview": "^9.1.4"

Description:
I have a TabView with a RadListView inside it. The items in the RadListView navigate to another page (using the RouterExtensions navigate function). When going back (with the back button on the devices), the

[2021-09-20 15:12] darkyelox commented on #3134
Need this support for a better css support in some cases where I add components in a programmatically way and want to access some of the children as, for example, even and odd elements, first or last for apply or not apply some margin, etc.

[2021-09-20 15:33] anmaitrannguyen opened #9559 "Get error when use transparent for color and background-color. Error: Expected 1 or 4 constructor parameters."
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.1
 - Cross-platform modules: 8.1.3
 - Android Runtime: 8.1.0
 - iOS Runtime: 8.1.0
 - XCode Version:
 - Plugin(s):

**Describe the bug**
In new version, when I set the color or background-col

[2021-09-20 18:12] #9550 closed

[2021-09-20 18:25] sudiptosen commented on #9553
@janoshrubos Thanks for directing me to the right spot.  It is an Express Issue.

I was only using `app.use(express.json())` but was missing express.urlencoded({extended: true}).

Really appreciate the help.

PS: My apologies for bringing in an Express issue in this forum.

[2021-09-20 18:25] #9553 closed

[2021-09-20 18:27] janoshrubos commented on #9553
@sudiptosen That's fine! I'm glad it is working for you!

[2021-09-21 06:05] NathanWalker commented on #9415
Fixed in 8.1

[2021-09-21 06:05] #9415 closed

[2021-09-21 06:07] #9486 closed

[2021-09-21 09:37] sebj54 commented on #9531
I might have found something, I'm actually trying to reproduce the bug in a dedicated app.

@mrwrighty, is your `<button>` in a custom component? For example you have a `Btn` component with a `<button>` as root tag. If yes, which component adds the tap event to the button?

Another question: is your button revealed programmatically? I mean it not shown when page is rendered but it is shown only wh

[2021-09-21 09:42] mrwrighty commented on #9531
No mine is a straightforwards <Button> Definition code shown below.

`<StackLayout row="4" orientation="horizontal" width="100%" horizontalAlignment="center" height="100%">
        <Button col="1" text="All" class="topButtonOff" id="all"  marginBottom="20" tap="tapAll"></Button>
        <Button row="4" col="2" text="Pending" class="topButtonOn" id="pending" marginBottom="20" tap="tapPending"></But

[2021-09-21 09:52] sebj54 commented on #9531
Ok, so it might be a different issue then. I think I'm going to create a new issue. Thanks for your time :)

[2021-09-21 11:45] janoshrubos commented on #8082
Closing this issue since it was fixed in #8093. 
If this error is still relevant, feel free to open a new issue!

[2021-09-21 11:45] #8082 closed

[2021-09-21 11:51] janoshrubos commented on #9043
Related to https://github.com/NativeScript/NativeScript/issues/9486, fixed in https://github.com/NativeScript/NativeScript/pull/9555

Closing this issue since the implementation is merged to master. 
If this error is still relevant, feel free to open a new issue!

[2021-09-21 11:51] #9043 closed

[2021-09-21 11:53] janoshrubos commented on #8476
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-21 11:53] #8476 closed

[2021-09-21 11:58] janoshrubos commented on #8579
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-21 11:58] #8579 closed

[2021-09-21 18:37] vallemar opened #9561 "Call getApplicationContext 2 times in a worker and then calling worker.terminate breaks the app"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
✔ Getting NativeScript components versions information...
✔ Component nativescript has 8.1.2 version and is up to date.
✔ Component @nativescript/core has 8.1.3 version and is up to date.
✔ Component @na

[2021-09-21 22:35] LiamMcCallum commented on #9059
+1

[2021-09-22 07:37] mahmoudajawad commented on #6173
@tgpetrov, should this be closed for cleanup?

[2021-09-22 08:26] janoshrubos commented on #4223
Tried to reproduce this issue, but it seems to be resolved now.
If this error is still relevant, feel free to open a new issue!

[2021-09-22 08:26] #4223 closed

[2021-09-22 08:40] xiromoreira commented on #9520
Trying to do something similar I ended using hooks. I feel the use of hooks should be easier and could achieve this issue as well. Since we all are developers, a programmatic hook to make any changes on the project is flexible and powerful (not so clean, though).

But I feel these issues:
- Very few docs, and only on the CLI repo, should be linked or mentioned in webpage and/or here. When you sear

[2021-09-22 08:43] sebj54 opened #9562 "Calling js method onConfigurationChanged failed - Error: java.lang.StringIndexOutOfBoundsException"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.2
 - Cross-platform modules: 8.1.3
 - Android Runtime: 8.1.1
 - iOS Runtime: N/A
 - XCode Version: N/A
 - Plugin(s): Many (not relevant here)

**Describe the bug**

[code]

![image](https://u

[2021-09-22 08:50] janoshrubos commented on #5065
Tried to reproduce this issue, but it seems to be resolved now.
If this error is still relevant, feel free to open a new issue!

[2021-09-22 08:50] #5065 closed

[2021-09-22 08:54] rigor789 commented on #9559
I believe this was fixed by #9560 - since the merge, this was auto-released in version `8.1.3-next-09-22-2021-1260380904`, and will eventually land in a release soon.

[2021-09-22 08:54] #9559 closed

[2021-09-22 08:57] rigor789 commented on #9520
@xiromoreira i created a new issue in the CLI repo.

[2021-09-22 09:09] janoshrubos commented on #4477
Tried to reproduce this issue, but it seems to be resolved now.

[2021-09-22 09:09] #4477 closed

[2021-09-22 09:27] janoshrubos commented on #9249
related to https://github.com/NativeScript/NativeScript/issues/6919

[2021-09-22 09:29] mahmoudajawad opened #9564 "[NS8.1] [IOS] App crashing with "unkown opcode" error"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.2
 - Cross-platform modules: 8.1.1
 - Android Runtime: N/A
 - iOS Runtime: 8.1.0
 - XCode Version: 12.5.1
 - Plugin(s): N/A

**Describe the bug**
I'm working with a payment gateway that is av

[2021-09-22 09:40] felixkrautschuk commented on #9561
It might be related somehow to the already existing issue: https://github.com/NativeScript/android-runtime/issues/1602

[2021-09-22 12:01] coolboy0961 opened #9565 "Android minSdkVersion can not be modified"
**Environment**
[code]

**Describe the bug**
Can not change the minSdkVer which defined in App_Resources/Android/app.gradle.
[code]
because platforms/android/app/build.gradle have flowing code.
[code]
This make minSdkVer always be 17 and because platforms/android/app/build.gradle  generate every time when building,
you can not change the minSdkVer.

If you add flowing setting to  App_Resources/And

[2021-09-22 12:45] coolboy0961 commented on #9565
I found this old issue.
https://github.com/NativeScript/android-runtime/issues/575

but it's not works.

even you set `minSdkVersion 28` in App_Resources/Android/app.gradle,
the following code still exists in platforms/android/app/build.gradle.
[code]

[2021-09-22 13:52] Ed-Simmons opened #9566 "[ @nativescript/core@8.1.3 ] [ global-types.d.ts ] __DEV__ is incorrectly typed as a string."
"@nativescript/core": "8.1.3"

**Describe the bug**
The global `__DEV__` variable is typed incorrectly as a string. See `global-types.d.ts` line 131:
[code]

**To Reproduce**
[code]

results in:

[code]

[2021-09-22 14:32] teha-at opened #9567 "iOS: UI ListView (RadListView) don't bounce back after pull to refresh"
**Environment**
 - CLI: 8.1.1
 - core: 8.1.3
 - Android Runtime: 8.1.1
 - iOS Runtime: 8.1.0
 - XCode Version: 13
 - Plugin(s):
   - nativescript-ui-listview: 10.0.0

**Describe the bug**
Only iOS: After a pull to refresh the items of the list don't get back up and a gap remains above.

![ios_ptr_error](https://user-images.githubusercontent.com/47043401/134362515-7573d6bb-f757-4cd3-9348-9cfbdeb33b

[2021-09-22 14:36] kriefsacha commented on #9529
@mrwrighty thanks for you response sorry for the delay. You ask your users to download it or you succeed to sort of "include" it in your app ?

[2021-09-22 14:46] mrwrighty commented on #9529
No they would have to download it.

[2021-09-22 17:55] cjohn001 commented on #9515
@farfromrefug, thanks for the directions. Unfortunately, I do not get it fixed. Seems my android understanding is insufficient. Would be great if you could have another look.

[2021-09-22 18:46] farfromrefug commented on #9565
@coolboy0961 the code you share would not override your setting because "your" app.gradle is applied after https://github.com/NativeScript/android-runtime/blob/master/test-app/app/build.gradle#L212
And i think overriding works for me. I ll check when i have the time but i think your issue comes from somewhere else

[2021-09-23 09:54] #8104 closed

[2021-09-23 10:09] janoshrubos commented on #7113
Tried to reproduce this issue, but it seems to be resolved now.
If this error is still relevant, feel free to open a new issue!

[2021-09-23 10:09] #7113 closed

[2021-09-23 10:29] #7831 closed

[2021-09-23 10:42] janoshrubos commented on #9567
Thank you for the sample project and for reporting this issue!
I tested this case on my side and have to confirm that this is a real issue.

[2021-09-23 11:02] #9566 closed

[2021-09-23 12:51] mahmoudajawad commented on #9564
@janoshrubos, this issue is causing a lot of hassle to me as I'm unable to get around it for my current work. Any chance you could guide me (or mention a person who could) on where these opcodes are located? I might try to add it myself, but a search on my own took me nowhere. Thanks.

[2021-09-23 13:34] rigor789 commented on #9564
@mahmoudajawad I don't think the mono/mini issue is the same - NS does not do anything like that with opcodes. I think the more plausible issue is that the `NISdk` pod has not been compiled for arm64 iOS Simulators, which is required to m1 machines.

[2021-09-23 17:29] sebolio opened #9569 "pod install doesn't work on M1 processor"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.2
 - Cross-platform modules:
 - Android Runtime:
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**

I followed all [instructions](https://docs.nativescript.org/environment

[2021-09-23 19:17] rigor789 commented on #9569
The main issue here is cocoapods, what usually works on M1 is to install cocoapods under rosetta2. I don't have an M1 currently to give you precise steps, but I went through the setup process on one before, and it did work.

The issue here seems to be that cocoapods has been installed as an arm64 binary - but a few months ago that did not work at all, so the cli invokes it with `arch -x86_64 pod i

[2021-09-24 05:36] zeddrix opened #9571 "The Preview service has been disabled until further notice. Configure local builds and use "ns run " instead"
### I posted this question too [here on stackoverflow](https://stackoverflow.com/questions/69309987/the-preview-service-has-been-disabled-until-further-notice-configure-local-buil) for more details (with screenshots of error logs).

All I was doing was following the [docs here](https://svelte-native.technology/docs#quick-start). But it just gave me this error:

#### `The Preview service has been d

[2021-09-24 07:09] mahmoudajawad commented on #9564
@rigor789, that makes sense about why I couldn't find anything in ns classes about it. I need to dedicate more time understanding the internals of ns to avoid opening such issues. Thanks for answering.

[2021-09-24 07:09] #9564 closed

[2021-09-24 08:56] ipald opened #9572 "Error importing axios (NS8 + WebPack5)"
Hello all, I've some error with webpack porting my application from NS7 to NS8 and enabling webpack 5

**Important update after various tries**
Reading of [this](https://github.com/axios/axios/pull/4050) I've tried to rollback to axios@0.20.0, change the import from
`import axios from 'axios'`
to
`import axios from 'axios/dist'axios'`
then removing polyfills package, clean and run it again and it

[2021-09-24 09:34] #9572 closed

[2021-09-24 11:09] janoshrubos commented on #9571
Thank you for your issue!

  The Playground and the Preview app has been disabled until further notice, the implementation is in progress for a better user experience.

With `ns run` you can deploy your app to your iOS/Android device or simulator. To configure your local builds you should install Xcode or install Android Studio.
You can read more info on the [Environment Setup](https://docs.native

[2021-09-24 11:43] janoshrubos commented on #9505
Closing this issue due to inactivity. 
If this error is still relevant, feel free to open a new issue!

[2021-09-24 11:43] #9505 closed

[2021-09-24 14:39] Bezlepkin commented on #9059
NS 8.1, XCode 12.4, iPhone SE (1) 14.7.1
Everything worked fine. Since yesterday, it also gets stuck...

[2021-09-24 15:31] Bezlepkin commented on #9059
I solved it!

It was necessary to download support for the device of the desired version https://github.com/JinjunHan/iOSDeviceSupport

and put in: Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform

[2021-09-24 23:01] vallemar commented on #7702
@rigor789 I am trying to close this problem as it has affected me for a long time. I am doing the development and it is working on iOS, but in android I have a problem in[ this line](https://github.com/vallemar/NativeScript/commit/c4b3f4c2087416c121408bf510f8b8a09a98a3e1#diff-44160f1e0e1e7daf5bdbb721e722774aeeda6f45dc59c382869ceed266b84c76R173), it is always 0. I understand that the measurement is

[2021-09-25 03:37] zeddrix opened #9574 "Getting "ANDROID_HOME environment variable is not set" when running "ns run" & "ns doctor android""
Thanks for replying and helping me guys. I'm using MacOS. I've already used Android Studio and Xcode to one of my react-native projects before. I am now learning SvelteNative. And as you said, I started following the docs [here](https://docs.nativescript.org/environment-setup.html#macos-android) and [here](https://docs.nativescript.org/environment-setup.html#macos-ios). But until I get into the st

[2021-09-25 06:32] farfromrefug commented on #7702
@vallemar i think it is a tough one in the sense we dont have the logic to recompute a property after measurement of the parent. It would require quite some work i think.
Btw i have to say this can be avoided using width + margin.
I never had the need for calc

[2021-09-25 07:54] #9562 closed

[2021-09-25 08:10] rigor789 commented on #7702
Yeah, this one seems a bit tricky to implement - what I imagine we would need is a way to pass a function as the property value that represents the `calc` values and can be scheduled after a layout. I think this specifically would require 2 layout passes, 1st where we lay everything out to get the measures and then another one to do the `calc`'s.

What I imagine (and may not be necessary or the ri

[2021-09-25 08:49] vallemar commented on #7702
@rigor789 ok, I'm going to try to do something generic to also be able to adopt other situations in which the css has to be recalculated.
@farfromrefug I understand that it can be done in more ways, but when you come from the front it is useful to have all this because it is what you are used to.

I'm going to give it a spin anyway.

[2021-09-25 10:20] rigor789 commented on #7702
@vallemar I think there needs to be special flags that are set when we come across a calc property that can't be evaluated ahead of time (ie with percentages) - then after a requestLayout pass, we need to trigger a new one probably in `layoutChanged` or maybe a lower level somewhere. I'm not sure where I would put it though, but the pseudo logic would be like:

- come across a calc that can't be e

[2021-09-25 17:28] vallemar commented on #7702
@rigor789  Ok, I think I understand what it says. I'm going to try to pull the string and do what it says. For now I will call it: REQUIRES_SECONDARY_LAYOUT_PASS, when I have a PR we will see more details. Thank you!

[2021-09-25 19:06] SahanRashmika97 commented on #9493
@pjmagtubo Thank you so much.

[2021-09-27 08:18] sksmsWKd commented on #9493
thank you

[2021-09-27 10:48] LouieTian0209 opened #9575 "GridLayout on iOS has its content misaligned"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.1
 - Android Runtime:8.0.0
 - iOS Runtime:8.0.0
 - XCode Version:12.5.1

**Describe the bug**
Content inside GridLayout are sometimes misaligned when getting displayed on iOS, however on Andr

[2021-09-27 10:57] LouieTian0209 opened #9576 "ActionItems on ActionBar aren't placed on the end of each side on iOS"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
- CLI: 8.0.1
- Android Runtime:8.0.0
- iOS Runtime:8.0.0
- XCode Version:12.5.1

**Describe the bug**
I have a custom ActionBar in my app that uses a Label as the title so I can customize the font size a

[2021-09-27 11:45] farfromrefug commented on #9575
@LouieTian0209 could you share a screenshot of both ios android after adding some background colors to labels? (different for each).

[2021-09-27 13:53] PetroSuch opened #9577 "Error after creating and runing an Angular project"
I have an error after creating a new project by 'ns create' command
After ns run i always get an error
[code]

for reproducing this problem just create an angular project  use `ns create` and chose an angular template

[2021-09-27 13:59] rigor789 commented on #9577
What is your node version? (`node -v`)

[2021-09-27 14:08] PetroSuch commented on #9577
node -v is v10.16.2

[2021-09-27 14:38] rigor789 commented on #9577
Update to at least node 12. It should fix that issue.

Many 3rd party packages dropped support for node below version 12.

[2021-09-27 14:56] PetroSuch commented on #9577
thank you, it really helped me, i updated to version 14 and now everything are working fine

[2021-09-27 15:00] erwindemoel opened #9578 "Nativescript app doesn't show top bar in iOS emulator"
I want to run our Nativescript app in the iOS emulator so I can make screenshots of different sizes. However, the top bar that shows the title and the back button isn't shown in the emulator. If I click on it, the button does work, but it's not visible.

How can we get the top bar to be visible in the emulator?

See here the difference:

Screenshot from iPhone:
![Screen 2](https://user-images.gith

[2021-09-27 15:24] #9577 closed

[2021-09-27 15:27] rigor789 commented on #9578
What is the iOS version on the phone/simulator?

And what version of `@nativescript/core`? We've recently released some changes required for ios15 ActionBars here:
- https://github.com/NativeScript/NativeScript/pull/9530
- https://github.com/NativeScript/NativeScript/pull/9534
- https://github.com/NativeScript/NativeScript/commit/7e35fdf143894f473a5140ceec4f26326164f393

[2021-09-27 15:30] erwindemoel commented on #9578
I'm running the iPhone 11 Pro Max emulator. iOS 15.0.

"@nativescript/core": "~8.0.0",

[2021-09-27 16:05] AlirezaAzizi145 opened #9579 "accessibility id is not visible when inspect element"
Hi, i use Appium in my Nativescript project. i want to find elements by accessibility-id but that's not visible.
i dont want to use xpath instead accessibility-id beacause i have a lot of changes on my UI, so it's not work for me.
There is an interesting point that the accessibility-id is only show when i inspect my Nativescript searchbar

[2021-09-27 18:03] rigor789 commented on #9578
Ok, try `"@nativescript/core": "~8.1.0",` instead - it contains those ios15 changes, and should work as expected.

[2021-09-27 18:04] rigor789 commented on #9579
See https://github.com/NativeScript/NativeScript/issues/9450

[2021-09-27 18:33] kfw9257 commented on #9578
Is there a workaround for this issue for Nativescript 7? I can't upgrade to Nativescript 8 right now.

[2021-09-27 18:50] rigor789 commented on #9578
You can use something like patch-package and apply the fixes to `node_modules` directly. `patch-package` is to ensure to keep the changes/re-apply them after wiping node_modules.

Other option is to open a PR backporting the fixes - will require us to create a new branch to target for 7.x - let us know if you are interested.

[2021-09-27 19:01] kfw9257 commented on #9578
@rigor789 Can we look into backporting the fixes?

[2021-09-27 19:19] rigor789 commented on #9578
@kfw9257 sure, I created a new branch here: https://github.com/NativeScript/NativeScript/tree/release/7.x - this contains the latest 7.3.0 version of core, you can create a new PR targeting this branch with the fixes backported.

[2021-09-28 02:23] LouieTian0209 commented on #9575
@farfromrefug Here are screenshots after adding background color:
iOS:
![lALPDiQ3QBiseK3NBTbNAu4_750_1334](https://user-images.githubusercontent.com/53802606/135011716-d77b9d83-1f8d-4128-b2a8-eca8bf7e2cc9.png)
Android:
![Screenshot_1632795300](https://user-images.githubusercontent.com/53802606/135011738-0285a8d3-e918-4462-9205-fb093040dc16.png)

So it seems like on iOS some Labels are expanded a b

[2021-09-28 06:37] farfromrefug commented on #9575
Ok there is something weird indeed.
But is is hard to debug seeing how complex your layout is.
What thing i can tell you is that could quickly fix it apply using verticalTextAlignement on the label and set it to top
Sadly N Label does not support it. You can test nativescript-community/ui-label

[2021-09-28 07:00] coolboy0961 commented on #9565
@farfromrefug

I think maybe this is caused by that I didn't use the `ns build android --release` command.
For some reason, I execute `ns prepare android` first, and then use fastlane gradle setting to build aab file.

Is this the override program in the `ns build` command?
If yes, I think it should be also programed in the `ns prepare` command, because it will be easier that using by other build

[2021-09-28 07:20] farfromrefug commented on #9565
@coolboy0961 no difference with prepare / build / run. The overriding is done while building the app.
Also already done in the android-runtime ;) Big update to the runtime coming real soon!

[2021-09-28 07:27] janoshrubos commented on #9574
Can you find the folders `Android/sdk` with the contents inside in your `Library` folder manually?
If yes, you could set `ANDROID_HOME` to an absolute path:
`export ANDROID_HOME=/Users/YourMac/Library/Android/sdk`

[2021-09-28 07:32] coolboy0961 commented on #9565
@farfromrefug
Thank you for the soon response.
I will look forward the new runtime.

[2021-09-28 09:02] erwindemoel commented on #9578
I just updated the version to "@nativescript/core": "~8.1.0" but the top bar is still white in my simulator, instead of the intended color blue.
Do you have something else that can fix my issue?

[2021-09-28 09:28] rigor789 commented on #9578
@erwindemoel can't think of anything else, perhaps if you can share a project where the issue happens we can investigate further.

[2021-09-28 09:32] erwindemoel commented on #9578
@rigor789 my apologies, I did something wrong with npm install. It works perfectly now, thanks!  👍  :-) I'll close the ticket.

[2021-09-28 09:32] #9578 closed

[2021-09-28 14:10] DieOver opened #9580 "ConstraintLayout & AutoLayout implementation"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when need to struct layout without the ConstraintLayout or AutoLayout,

**Describe the solution you'd like**
I'd like to use ConstraintLayout or AutoLayout, because it's more efficient way to struct layout

[2021-09-28 14:16] rigor789 commented on #9580
Duplicate of #5665

[2021-09-28 14:16] #9580 closed, assigned to nobody

[2021-09-28 15:16] vallemar opened #9581 "css calc inline break app"
If you insert the width property: `calc(x - x);` in an element with inline styles the application breaks, it also happens if you do `object.nativeComponent.width = "calc(x - x)"`

Works fine if put as styles of a class.
[code]

**Sample project**
https://play.nativescript.org/?template=play-vue&id=mncNi9&v=2

[2021-09-29 03:37] zeddrix commented on #9574
I found the absolute path and set it inside the .bash_profile. But do I do this in the .bash_profile file or somewhere else? Because doing this didn't make a change.

[2021-09-29 04:10] zeddrix commented on #9574
Hey @janoshrubos thanks for the help and for your reply. I got it working now and I documented what I did to solve this problem here:

https://stackoverflow.com/questions/69326417/getting-android-home-environment-variable-is-not-set-when-running-ns-run/69370269#69370269

[2021-09-29 04:10] #9574 closed

[2021-09-29 08:43] sebj54 commented on #9440
Ok, thanks @edusperoni for the explanation, I understand now (sorry for the one month delay btw).

So, while the RAF is not cancelled, is it possible to store in a local variable the first timestamp sent? The idea is to reuse this timestamp later when calling the callback so all callbacks are relative to the same thing.

The only problem actually is that we have two types of timestamps and each on

[2021-09-29 10:06] PeterStaev commented on #9488
Any news on a fix/workaround for this? The problem still persists with CLI 8.1.2 and webpack 5.

[2021-09-29 11:48] rob4226 commented on #9567
I've had to deal with this also.  I found a note in my code where I created a hack to remedy the situtation by scrolling to index 0. Maybe it will work for you too.

[code]

[2021-09-30 16:43] 7ammer commented on #9059
@Bezlepkin's solution works!

[2021-10-01 08:08] jamescodesthings opened #9585 "Angular Module error when updating my app and module not found using `[hash]` in filename"
**Environment**
 - CLI: 7.2.1
 - Cross-platform modules: 7.1.4
 - Android Runtime: 7.0.1
 - iOS Runtime: 7.2.0
 - XCode Version: 12.4 & 13
 - Plugin(s): lots. Will add on request.

**Describe the bug**
Issue with a bunch of moving parts. We have lazy loaded module routes in an `app.module.ts`, when updating my app on testflight or the app store we had reports of users not being able to navigate in

[2021-10-01 08:56] SheetJSDev opened #9586 "File#writeText truncates at first null byte"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.3
 - Cross-platform modules:
 - Android Runtime:
 - iOS Runtime: 8.1.0
 - XCode Version: 12.4 Build 12D4e
 - Plugin(s): file-system

**Describe the bug**

`File#writeText(bstr, encoding.ISO_8

[2021-10-01 10:56] jgmedialtd opened #9587 "After updating to 8.1.0, all listviews cause crashes on iOS"
**Environment**

iOS

"dependencies": {
    "@nativescript/core": "^8.0.8",
    "@proplugins/nativescript-purchase": "^6.0.0",
    "@triniwiz/nativescript-youtubeplayer": "^4.1.3",
    "axios": "^0.21.1",
    "currency-symbol-map": "^5.0.1",
    "html-entities": "^2.3.2",
    "luxon": "^1.27.0",
    "nativescript-vue": "^2.9.0"
  },
  "devDependencies": {
    "@babel/core": "^7.14.3",
    "@babel/

[2021-10-01 12:01] felixkrautschuk opened #9588 "Android: accessibility not working correctly when using data-binding"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.3
 - Cross-platform modules: 8.1.3
 - Android Runtime: 8.1.1
 - iOS Runtime: -
 - XCode Version: -
 - Plugin(s): -

**Describe the bug**
When setting a value of a property in Observable async

[2021-10-01 19:35] Mai-sudo commented on #9036
Thank so much. I had problems of “error: no such file or directory: ‘name_obj’

So I just fixed

-> **Build settings** -> **Other Linker Flags**

 -> click ‘+’ and write  -framework + “name_obj”

[2021-10-02 05:18] zeejay09 commented on #2977
experiencing this exact problem,

[code]

itemTap do not work but longPress works but without ripple effect.

[2021-10-02 07:50] zeejay09 commented on #2977
is this resolved already?

[2021-10-02 08:09] darkbasic commented on #2977
Guys it's been five years without any official response from the nativescript team, I'm pretty confident it won't ever be fixed at this point.

[2021-10-03 02:19] TravJav opened #9590 "RadSideDrawer Error "nativeView" and non-functioning root template implementation."
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI:
 - Cross-platform modules:
 - Android Runtime:
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**
Bug (1)
RadSideDrawer not working in main root component in Angular2 ( app.htm

[2021-10-03 13:01] daydreamer95 opened #9591 "M1 issue with nativescript ios build"
**Environment**
 - CLI:  tns
 - XCode Version: 12.5.1

{
  "nativescript": {
    "id": "com.writemedia.snookerquotients",
    "tns-android": {
      "version": "6.5.0"
    },
    "tns-ios": {
      "version": "6.5.3"
    }
  },
  "description": "NativeScript Application",
  "license": "SEE LICENSE IN <your-license-filename>",
  "repository": "<fill-your-repository-here>",
  "dependencies": {
    "

[2021-10-04 01:11] deulizealand commented on #9493
can you tell me 'vue-loader' version ? i got same issues

[2021-10-04 07:44] janoshrubos commented on #9591
I believe `"tns-core-modules": "~6.5.0"` is outdated for Xcode 12.

You can find more info on [NativeScript 6 & 7, Xcode 11 & 12, and IOS 14 Compatibility](https://blog.nativescript.org/nativescript-6-7-xcode-compatibility/)

[2021-10-04 09:54] Pauk1989 opened #9592 "Cant call function of object class in android native gradle library"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.0.1
 - Android Runtime: 6.5.3

**Describe the bug**
Im trying to use native library included via gradle:
compile "cloud.mindbox:mobile-sdk:1.1.0"

But object-like class not working:

native lib

[2021-10-04 10:59] triniwiz commented on #9592
You can pass the lib through the[ dts-generator](https://github.com/NativeScript/android-dts-generator) to get the typings for the lib , another thing you can try is logging the methods/props available on the instance `console.dir(cloud.mindbox.mobile_sdk.Mindbox)`. Since Mindbox is an object try `cloud.mindbox.mobile_sdk.Mindbox.INSTANCE.init(application.android.context, configuration); `

[2021-10-04 11:34] Hard-Coder05 opened #9593 "[Feature] Upgrade Issue Templates to use GitHub Issue Forms"
**Is your feature request related to a problem? Please describe.**
GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

**Describe the solution you'd like**
This repository currently uses the older issue templ

[2021-10-04 11:36] Hard-Coder05 commented on #9593
I would like to work on this issue, if you find this feature request a valuable one! Please assign me this!

[2021-10-04 12:21] Pauk1989 commented on #9592
@triniwiz thank you very much,  it works! =)

[2021-10-04 12:21] #9592 closed

[2021-10-04 13:00] #9587 closed

[2021-10-04 14:06] rigor789 commented on #9593
@Hard-Coder05 go ahead and open a PR with an initial draft, and then we can discuss some of the finer details there!

I've been meaning to switch to issue forms for a while, just haven't had time to do the migration to them.

Have actually created a test repo to play around with them, so you can even pull some of those changes: https://github.com/rigor789/gh-issue-form-test/blob/main/.github/ISSUE

[2021-10-04 16:16] Hard-Coder05 commented on #9593
@rigor789 Hey! Thank you for the quick response. I will surely take look on your format as well!

[2021-10-04 16:52] nicolaric commented on #8441
any updates on this? I currently experience the same issue.

[2021-10-04 18:14] Hard-Coder05 commented on #9593
@rigor789 I have made the PR for the issue! Do let me know if anything needs some change.

[2021-10-04 21:36] redradist opened #9595 "Mix WebView and NativeScript Ui in one application"
I know about capacitor, but it mainly make ionic capacitor as main application and it only uses NativeScript API.
I suggest to make something like [BlazorMobileBinding](https://github.com/dotnet/MobileBlazorBindings) that allow intermix Xamarin.Forms UI and Blazor WebView UI in single application for example in different pages

[2021-10-05 00:20] shirakaba commented on #9595
This is actually on the roadmap for Q1 2022, under the name CapacitorView. It would allow you to build a NativeScript app as normal, and insert a view that was loaded with the Capacitor runtime. You could make that the main view for your app (alongside things like a native sidebar or whatever other native views you might need), or just one of many views (e.g. use it a temporary view for handling p

[2021-10-05 14:24] daydreamer95 commented on #9591
At the time, I can't install Xcode 11 on M1 ( Its shown that not supported, please update to ver 12++). Is there a way to fix it so I can develop on my new macbook?

[2021-10-05 15:06] rigor789 commented on #9591
@daydreamer95 I don't think you can run 6.x projects on M1 simulators without updating your project, unless you run on a connected device - that part should still work I believe.

[2021-10-05 17:06] shirakaba commented on #9595
@NathanWalker would be the one with the best knowledge of that. There's no tracking issue or anything, so we'll have to think of a solution. I'm confident we'd make a blog post or at least a Twitter announcement about it once complete.

Otherwise, we find some way to represent roadmap items on the Projects board. Maybe create a Q1 project?

There might be some sense in seeing whether the Projects

[2021-10-06 05:51] AR10X commented on #8410
This issue has been solved right? or is it still open? 😄

[2021-10-06 19:20] redradist commented on #9595
@shirakaba But what about not depending on capacitor ?
Do you have plans also support WebView with NativeScript capacitor ?

NativeScript already have WebView, it is possible to create bindings between WebView and NativeScript and not depend on third-party runtime

[2021-10-08 10:21] vickyATD opened #9601 "Nativescript Tab : while navigating in between tabs, tab content view lags and splits itself in two portion in IOS"
**Environment**
--> tns info :
✔ Getting NativeScript components versions information...
✔ Component nativescript has 8.1.3 version and is up to date.
⚠ Update available for component @nativescript/core. Your current version is 7.0.13 and the latest available version is 8.1.3.
⚠ Update available for component @nativescript/ios. Your current version is 7.0.6 and the latest available version is 8.1.

[2021-10-08 15:07] mobil-app-explorer opened #9602 "Can not run tests from fresh nativescript angular project"
**Environment**

**Describe the bug**
run command "ns test android" got the following error message, and tests could not be run successfully:
JS: NSUTR: eval script /absoluteexample.309750144.js?845b39d7192ddd740c545b889b91940ea59e904c
JS: NSUTR: this.error: Error: com.tns.NativeScriptException: Failed to find module: "./commons.js", relative to: app/
JS: at /absoluteexample.309750144.js?845b39d71

[2021-10-08 23:53] heywhy opened #9604 "ActionBar flat property not working on iOS 15"
**Environment**

 - CLI: 8.1.3
 - Cross-platform modules: 8.1.3
 - Android Runtime: 8.1.1
 - iOS Runtime: 8.1.0
 - XCode Version: 13.0.0
 - Plugin(s):

**Describe the bug**

The flat attribute on `ActionBar` not working on iOS 15.

**To Reproduce**

* update iOS version
* Run app

**Expected behavior**

* The navigation bar should be flat on iOS

[2021-10-09 09:37] janoshrubos commented on #9604
May I ask you which flavor are you facing this issue on?

[2021-10-09 14:43] NathanWalker commented on #9604
This is fixed on master https://github.com/NativeScript/NativeScript/pull/9558

will close this once we publish 8.1.4 with it shortly.

[2021-10-10 10:51] #9316 closed

[2021-10-11 04:51] HeyKJ opened #9607 "When I install it as release using Android Proguard, the app will be forced to shut down after the splash screen."
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI:
 - Cross-platform modules:
 - Android Runtime: 8.0.0
 - iOS Runtime:
 - XCode Version:
 - Plugin(s):

**Describe the bug**

**To Reproduce**

I set up Proguard referring to this [link](https://gi

[2021-10-11 09:44] #9607 closed, assigned to nobody

[2021-10-11 14:02] SaadmanChowdhury opened #9608 "Upgrading from NativeScript Core from v5 - Cannot Navigate to page"
Good evening,

I'm trying to upgrade a version 5 NativeScript project to version 8.
I began by first upgrading the project to 6,
and then testing if all of the functionalities work before moving on to upgrading it further.
After TNS migrate, and resolving a few minor issues, I hit a snag.

After the login screen, when trying to navigate to another screen, the **topmost()** returns **undefined**.

[2021-10-12 11:31] cloudhx opened #9609 "iOS: Writing NDEF message to NFC tag works on NativeScript 6 but doesn't work on NativeScript 7 or 8"
**Environment**

 - CLI: 8.1.3
 - Cross-platform modules: 8.1.4
 - Android Runtime: 8.1.1
 - iOS Runtime: 8.1.0
 - XCode Version: 12.5.1
 - Plugin(s): nativescript-nfc

**Describe the bug**
Only for iOS. I implemented writing NDEF message to NFC tag based on https://github.com/EddyVerbruggen/nativescript-nfc/tree/4.1.0 which is targeting NativeScript 6 and both reading and writing work well. But w

[2021-10-13 17:19] lrilling opened #9611 "Missing pubnub package in playground examples"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: Native Script Version 8.1.4 `(`ns info` does not output any specific CLI version, therefore I don't know specifically)

**Describe the bug**
In general: The example page told me to execute `tns p

[2021-10-14 10:52] DimitrisRK opened #9613 "feat: Global interceptors for Http module"
**Is your feature request related to a problem? Please describe.**
There are cases one for using the same code for all functions.

**Describe the solution you'd like**
Global interceptors like the ones in Angular HttpClient, jQuery ajax, or axios would help in such cases.

**Additional context**
Since Http module is simplified, an approach similar to axios would do.
[code]

[2021-10-15 06:28] Lucia-Bader opened #9614 "TabView is transparent since iOS 15"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.4
 - Cross-platform modules:
 - Android Runtime: ^8.1.4
 - iOS Runtime: ^8.1.0
- nativescript/core: 8.1.4
- nativescript-angular: ^10.0.0
- nativescript/angular": "^11.8.1"
- typescript: ~4.0

[2021-10-15 17:53] phenric commented on #6284
Hi everyone,

I'm also facing this issue on some phones. I tried to live debug on all the phones I can easily access but none of them has this issue.

I only have some logs from the store returned by the affected users.
I build the app with @nativescript/android v. 8.0.0.

Any news or idea on what could be the cause?
Did you fix it on your own projects?

Thx for your passion and your time!

  at c

[2021-10-16 07:41] amaaniqbal commented on #5991
@NickIliev How do you want this issue to be addressed? Do you want me to have separate classes with different origin values linked to corresponding views in JS/TS files, or something else?

[2021-10-17 07:37] OPADA-Eng commented on #9608
The breaking changes between 5 and 8 are the key to upgrade successfully.
I suggest you clone a fresh project with the new dependencies and try to add your plugins one by one.
finally, move your code and try to modify the breaking changes.

[2021-10-17 13:44] rigor789 commented on #9263
@farfromrefug not yet, I don't think - I did a cleanup pass recently and did some testing to make sure it's all good, and just need to wrap that up.

[2021-10-18 06:33] samiul-gtmi opened #9616 "Error: Cannot find module '@nativescript/core/application' but I am using tns-core module"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: ns 6.0.2
 - Cross-platform modules:  6.0.1
 - Android Runtime: 6.5.3
 - iOS Runtime: N/A
 - XCode Version: N/A
 - Plugin(s): N/A

**Describe the bug**
I have updated my NS project from 5.4.0 lega

[2021-10-18 08:31] janoshrubos commented on #9614
Since iOS 15, the TabView will have a transparent background when there is a `ScrollView` which is scrolled to the bottom.
See more: [scrollEdgeAppearance](https://developer.apple.com/documentation/uikit/uitabbar/3750912-scrolledgeappearance)

However if you define a `tabBackgroundColor` I believe it should set the color without scrolling the content in runtime.

I made a PR to fix that behaviour,

[2021-10-19 01:54] #9616 closed, assigned to nobody

[2021-10-19 08:23] cloudhx commented on #9609
When logging `NFCNDEFTag.prototype`, on NS6 it shows `[object ObjCPrototype]`, but on NS7 or 8 it shows nothing. I hope at least I could know if it's a NativeScript issue or my code issue, thanks for the help!

[2021-10-19 11:48] janoshrubos commented on #5773
I tried to reproduce this issue, but it seems like it's resolved now.

If this error is still relevant, feel free to open a new issue!

[2021-10-19 11:48] #5773 closed

[2021-10-19 23:32] 4f3x opened #9619 "Fresh NS 8.1 project crashes on startup when ns run ios"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 8.1.4
 - Cross-platform modules:
 - Android Runtime:
 - iOS Runtime: 8.1.0
 - XCode Version: 13.0
 - @nativescript/core@8.1.4
 - @nativescript/ios@8.1.0
 - @nativescript/theme@3.0.2
 - @nativescr

[2021-10-21 09:32] ray007 opened #9621 "[FR] login dialog options"
Usually when asking a user for login data, I'd also want to know whether or not to save credentials.

An option to show a "Remember me" checkbox in the login dialog (like webbrowsers) would be nice.
Best also with an option to change its label.

I know I can build a custom modal dialog, but this feels like an often needed feature and I was surprised to not find it.

[2021-10-22 03:03] minhson95th opened #9622 "FormGroup cannot get value of TextField if it's focus"
I want get value of TextField by FormGroup , but if i type value in TextField, and click button, FormGroup can not get value of current TextField, when i change to focus next TextField, now FormGroup can get value. How can i get value of TextField without change focus?
![Capture](https://user-images.githubusercontent.com/46039866/138386604-8accf963-bff9-426b-9b56-023629ce5d76.JPG)

![Capture1](htt

[2021-10-26 07:49] samiul-gtmi opened #9623 "Keyboard pops down immediately after popping up, after single tap on input field"
**Environment**
Provide version numbers for the following components (information can be retrieved by running `tns info` in your project folder or by inspecting the `package.json` of the project):
 - CLI: 6.0.2
 - Cross-platform modules: 6.0.1
 - Android Runtime: 6.0.2

**Describe the bug**
This project was recently upgraded from NS5 to NS6 by following the official documentation. The login page c

[2021-10-26 20:15] NathanWalker opened #9624 "🚨 PSA: Node 17 Support"
### Issue Description

When using Node 17, webpack will fail.

### Reproduction

Use Node 17 with `ns run`.

### Relevant log output (if applicable)

[code]

### Environment

[code]

###

- [X] I have searched the [existing issues](https://github.com/NativeScript/NativeScript/issues) as well as [StackOverflow](https://stackoverflow.com/questions/tagged/nativescript) and this has not been posted be

[2021-10-29 21:12] DimitrisRK commented on #9039
It seems that the issue in my case was that my environment had no emulators available.

[2021-10-29 21:12] #9039 closed

[2021-10-30 01:43] #9353 closed

[2021-10-30 16:00] mahmoudajawad commented on #9407
@cjohn001, should I close this issue as you mentioned it is already fixed in v5 of `@nativescript/webpack` package?

[2021-10-30 16:13] mahmoudajawad opened #9630 "[IOS] Tap event on elements in ScrollView is not consistent with native behaviour"
### Issue Description

For iOS, a any element beside `Button` in a `ScrollView` with `tap` event attached to it, gets its callback called with swift swipe action on the element. This behaviour doesn't exist in native apps. For instance:
1. Open App Store
2. Open any app page.
3. Attempt a swift swipe over the developer label in the horizontal scroll area beneath the app name.
4. The tap event does

[2021-10-30 16:18] cjohn001 commented on #9407
@mahmoudajawad . Yes I think the issue can be closed. Was solved for me as well.

[2021-10-30 17:30] #9407 closed

[2021-10-30 17:41] anarnoli commented on #8806
I'm trying to use `crypto` for `publicEncrypt` and `privateDecrypt` methods in NS 8. I followed @SergeyMell initial suggestion and it didn't worked for me.

@ineiti @SergeyMell - can you please guide on this?

Here is the simple snippet:

`public encryptStringWithRsaPublicKey(data: string, publicKey: string): string {
    const buffer = Buffer.from(data);
    var encrypted = publicEncrypt(publicKe

[2021-10-30 23:20] bradmartin commented on #9623
I'd handle the dismissKeyboard differently with your page tap event. You could wire that up on a button tap (submit or login) instead of tapping the page. Also be sure your form uses the return key type for your textfields so the user can move to the textfields via their keyboard control.

[2021-10-31 16:19] cjohn001 opened #9631 "Please allow for usage of JSC runtime on Apple Silicon"
### Issue Description

I am just trying to get my app build on Apple Silicon (M1 Pro Macbook Pro). When building my app with the JSC runtime for an iPhone 11 Pro simulator (simulators in general) I am getting a linker error in xcode:

Saving metadata generation's stderr stream to: /Users/cjohn/Library/Developer/Xcode/DerivedData/testapp-glmndklidrnxpebdfyjrdxklsefc/Build/Products/Debug-iphonesimul

[2021-10-31 16:33] cjohn001 commented on #9569
@tr4g : I just migrated my project to apple Silicon. I reinstalled my homebrew, ruby and cocoapods with ARM64 packages and I can say that those run (also against ios simulators).
However, I had to update an old plugin which was not on @nativescript/core 8.1 yet. Not sure where the magic version boundary for core is. Seems like older plugin versions pull in non-universal binaries. I also found that

[2021-11-01 12:00] ineiti commented on #8806
@anarnoli in my proposition you find how to set up ns so it uses the correct random-number generator for the project:

https://github.com/c4dt/crypto-ts/commit/b0242974fecda85a720d16e8c627fad3a896e76f#diff-69e8392bf726e5a547677aded8920fef111ed85ccdbb8f5b76f17a0c247728a5

But it only works for ns-6. I never ported it to ns-8, as the project has been deprecated.

[2021-11-01 12:19] izakurin opened #9633 "Apple rejecting the NS app for connectivity issues. NS 7"
### Issue Description

Have been trying to upload the app to App Store and in most cases (not all but 7 out of 10) the app gets rejected by Apple saying that "The iPad is connected to Wi-Fi, but the app does not see the connection." If the application passes the review though then it works perfectly when downloaded from the AppStore. On Android everything is fine also.

I have found two different

[2021-11-01 19:12] anarnoli commented on #8806
Thanks @ineiti. I'm not sure if NS 8 has inbuilt Crypto support or not. If not then I think it should have.

[2021-11-02 17:33] ccpplinux opened #9635 "Unable to create project - template not found"
### Issue Description

When I am creating a new project then I am getting following error message:

https://packagecloud.io/github/git-lfs/npm/@nativescript/template-hello-world/-/template-hello-world-8.1.0.tgz

What could be the reason for this? Please help.

### Reproduction

[ccpplinux@ccpplinux NativeScript]$ ns create hello_ns

# Let’s create a NativeScript app!

Answer the following question

[2021-11-02 18:06] ccpplinux commented on #9635
As suggested by rigor789#4046 on discord when I commented the packagecloud registry from the file /home/ccpplinux/.npmrc then it started working. Now I am able to create project.

[2021-11-02 18:06] #9635 closed

[2021-11-02 18:39] DieOver commented on #6313
+1
Looking for a solution

[2021-11-02 19:32] bradmartin commented on #9621
Often needed, but usually not something provided by the platforms. So I don't think this would fit into being in the "core" or NS, but rather maybe in a tool kit of some sort. Something that provides a login form to drop in your app, which is something we have discussed and plan to work on. Hope that makes sense :) Once we have a clean route on the toolkit stuff, this would be a nice simple drop i

[2021-11-02 23:44] cjohn001 opened #9636 "Please provide ARM64 Binaries for nativescript-ui plugins"
### Issue Description

I have seen that the nativescript-ui plugins were updated in order to support ARM64 archs  using XCFrameworks. I tried to build with these plugins for simulator and got the following errors:

nativescript-ui-autocomplete/platforms/ios/TNSAutoComplete.xcframework' is missing architecture(s) required by this target (arm64)
nativescript-ui-calendar/platforms/ios/TNSCalendar.xcf

[2021-11-03 07:08] gyan-nsf commented on #8892
same here

[2021-11-03 08:57] Vale-Joseph commented on #9619
I am also getting the same issue with plain javascript projects.

It started out as giving crash reports but has now just become the splash screen showing then the app closing with no message about it failing to open or anything.

Even creating a fresh template project and uploading it to testflight is giving the same result of closing with no message.

I am on a late 2016 macbook pro running the

[2021-11-03 09:21] rigor789 commented on #9619
Run `ns prepare ios`, then open `platforms/ios/<projectName>.xcworkspace` in XCode, try running fro XCode - share any errors from XCode to give us more context.

[2021-11-03 10:52] Vale-Joseph commented on #9619
When running the app, it will show the splash screen, then it always stops and gives me this

`#1	0x000000011255b4ff in tns::ClassBuilder::ExposeProperties(v8::Isolate*, objc_class*, std::__1::vector<tns::PropertyMeta const*, std::__1::allocator<tns::PropertyMeta const*> >, v8::Local<v8::Object>, v8::Local<v8::Value>, v8::Local<v8::Value>)::$_2::operator()(ffi_cif*, void*, void**, void*) const [in

[2021-11-03 11:11] rigor789 commented on #9619
Run `npx -y nativescript-envinfo` in the project and paste the output here as well.

Also if you can include the commands you used to create the project, running

[code]

produces a working app for me, and so does

[2021-11-03 14:00] DarkRanger66666 opened #9638 "iOS App crashes after force closing the app in version 8.1.1"
### Issue Description

When I close the app forcefully, the I receive the Test flight pop up saying the app has crashed and send report. Even if I don't close the app forcefully. I randomly see the pop (probably when OS tries to kill the inactive app in background).

Here is the crash report:

Incident Identifier: D86E6CB9-9125-47CC-BCAA-D9E8C58D6F0A
Hardware Model:      iPhone9,3
Process:

[2021-11-03 17:02] erwindemoel opened #9639 "Installed Build Tools revision 31.0.0 is corrupted. Remove and install again using the SDK Manager."
### Issue Description

We have an Azure Devops pipeline, where we run our NativeScript build. In the "Build Android release apk" step, I'm now getting the following error:
[code]

I've Googled on this error and found a simple solution with renaming d8.bat to dx.bat. However we can't since it's in an Azure Build pipeline.
On StackOverflow I found another solution here:
https://stackoverflow.com/que

[2021-11-03 17:17] rigor789 commented on #9639
This has popped up in a few of our CI pipelines as well, the workaround for now is to add a step like this one:
[code]

I believe the issue is on Google's side, since the same has been reported in non-NativeScript projects as well...

[2021-11-03 17:39] #8746 closed

[2021-11-03 17:39] #8774 closed

[2021-11-03 17:39] #8952 closed

[2021-11-03 17:39] #8964 closed

[2021-11-03 17:39] #9000 closed

[2021-11-03 17:39] #9049 closed

[2021-11-03 17:39] #9050 closed

[2021-11-03 17:39] #9108 closed

[2021-11-03 17:39] #9127 closed

[2021-11-03 17:39] #9427 closed

[2021-11-03 17:40] #9492 closed

[2021-11-03 17:40] #9501 closed

[2021-11-03 17:40] #9529 closed

[2021-11-03 17:40] #9579 closed

[2021-11-03 17:40] #9608 closed

[2021-11-03 17:40] #9622 closed

[2021-11-03 17:40] #9623 closed

[2021-11-04 07:29] luiguild opened #9658 "`main` key on `nativescript.config.ts` is not working"
### Issue Description

The `main` key in `nativescript.config.ts` is not working. You can try to change the entry point of the application but the CLI still keep using `package.json` `main` key as a reference.

The capacity to change the main entry point, and more, this entry point being disconnect from the `package.json` is very useful to build design systems libraries and many other things.

###

[2021-11-04 16:12] sebj54 opened #9659 "Android 12 support"
### Is your feature request related to a problem? Please describe.

Hi NativeScript maintainers :)

I'm currently trying to target and compile my NativeScript with Android 12 (SDK Platform 31).

### Describe the solution you'd like

The ideal would be to have this out of the box, but I thinked it was possible by changing only a few configurations (I was wrong).

### Describe alternatives you've co

[2021-11-04 17:20] rigor789 commented on #9659
Apps built with lower level SDK (30 for example) should have no trouble running on Android 12 (sdk 31).

@triniwiz has updated the android-runtime to AGP 7, and release the aplpha version of the runtime, you may be able to test that: `npm i --save-dev @nativescript/android@alpha`.

[2021-11-04 18:01] sebj54 commented on #9659
Yes you're right, it runs fine if we build with SDK 29 (the default one if I'm right).

The fact is I wanted to implement new Bluetooth Android 12 permissions and submit a PR to ˋ@nativescript-community/ble`.

I will give a try tomorrow at the Android runtime alpha, thanks for the info!

[2021-11-04 22:02] gbelot2003 opened #9660 "Nativescrip Crash in new install with Vuex"
### Issue Description

This happens on a new install of Nativescrip Vue from "ns create app --vue", once install the Vuex and created the store.
When imported the store, the system crash. It seems a problem with webpack, but I have no idea what could if be.
Once you remove the store import, the system works again.
I try to downgrade the vuex to 3.3.0 but the problem persist.

### Reproduction

ste

[2021-11-04 23:00] vallemar commented on #9660
try change this line `module.exports = store;` by  `export const store = new Vuex.Store(....`
Your error is `Error: ES Modules may not assign module.exports or exports.*`

The javascript ES modules do not use `module.export`, this is from node.js

[2021-11-05 08:21] Vale-Joseph commented on #9619
[code]

### Dependencies

[code]

The commands I used to create the project were

`ns create <project name> --template @nativescript/template-blank`

[2021-11-05 09:39] sebj54 commented on #9659
Unfortunately, it still fails with latest `@nativescript/android@alpha`. Should I open an issue on https://github.com/NativeScript/android-runtime?

[2021-11-05 16:47] felixkrautschuk commented on #9588
The latest working version is 7.3.0-next-03-04-2021-619345892. When looking at the version history on npm (https://www.npmjs.com/package/@nativescript/core), this seems to be the last NS 7.x version, so the next release is already 8.0.0-alpha.0 and there this issue is reproducable.

[2021-11-05 17:42] felixkrautschuk commented on #9588
When commenting this line, the issue does not occur anymore:
https://github.com/NativeScript/NativeScript/blob/master/packages/core/accessibility/index.android.ts#L450

However, I have not yet figured out yet why :)

[2021-11-05 17:43] gbelot2003 commented on #9660
Thanks Vallemar, correct, that solve this part of the problem.

[2021-11-05 17:43] #9660 closed

[2021-11-06 12:09] robtoll commented on #3863
You can use css transform, but it's a bit messy. For example..
transform:scale(1.5);
Play around with the height/width, and try using negative margins.
You might end up with something workable.

[2021-11-07 05:35] mahmoudajawad commented on #9630
I was able to workaround this issue by using `touch` event and monitoring it on the following basis:
* When touch starts, record the timestamp.
* If the user moves the touch location, cancel the workflow.
* If the user ends touch, check if the duration of the touch was between 30ms and 160ms (best our team could decide on a tap event), and fire the associated callback.
  * If the touch duration is

[2021-11-07 16:42] zacharymikel commented on #9659
I'm also running into the problem as @sebj54 with a brand new nativescript project:
[code]

I tried adding `@nativescript/android@alpha`, and I can see the changes in `./platforms/android/build.gradle`, using AGP 7.0.2. When I clean and run the project again, I get:

[code]

If I manually change my single activity in the manifest, adding `android:exported="true"`, the build appears to finish and i

[2021-11-07 17:57] sebj54 commented on #9520
This would be a very interesting feature!

Actually I need it in one of my project to be able to define variables from env. It would be very useful, especially for variables you don't want to commit in the repo (like tokens, secrets…

Sometimes, I also have default values for those variables but they can be overridden.

I think workspaces can be a solution for that but I used to add custom hooks i

[2021-11-08 14:28] AedonStorm opened #9662 "Android: conflict beetween Tabs and BottonNavigation causes app crash (playground demo)"
### Issue Description

I have a popup with Tabs and a BottomNavigation in same layer. The BottomNavigation has a frame on each item, as we can find in Nativescript documentation.
[https://v6.docs.nativescript.org/core-concepts/nested-navigation#nesting-forward-in-lateral-navigation](url)

Having Tabs and BottomNavigation in same layer causes app crash interacting with the BottomNavigation. I have

[2021-11-08 14:55] edusperoni commented on #9662
Tabs and BottomNavigation are no longer part of NativeScript core and now can be found on https://www.npmjs.com/package/@nativescript-community/ui-material-tabs and https://www.npmjs.com/package/@nativescript-community/ui-material-bottom-navigation.

The Playground still uses an old version of NativeScript and we're working on updating it to the latest version.

[2021-11-08 23:29] nmongiya commented on #8685
I have downgraded my JDK to 11 and it worked for me.

[2021-11-10 11:11] andrewm-mitchells opened #9663 "FormattedString inside ActionBar new line bug on iOS"
### Issue Description

I've been using `FormattedString` with multiple spans to output some text in multiple lines/rows but after upgrading to NS 8.x it stopped showing all text after line break (`\n`) on iOS for all text elements like Label and TextField. It works fine when used with a Button element. Would be great to have the text that is lost due to this bug back.
It works as expected with Lab

[2021-11-10 11:56] sebj54 commented on #9659
You're right, it compiles after running `ns clean` and adding `android:exported="true"`.

Unfortunately I have another problem with a hook from `@nativescript/firebase`:

[code]

I think I'll wait a bit for the Android runtime to get out of alpha.

[2021-11-11 05:34] hitesh-nsf commented on #8892
Having the same issue....if anyone got luck please share the solution.

[2021-11-11 05:55] hitesh-nsf commented on #8892
Just got a solution for this issue. Try to change "es2017" to "es2015" in the "tsconfig.json" file and it will work.

For more detail just read the below content:

https://github.com/NativeScript/nativescript-angular/issues/2308

[2021-11-13 17:50] mpcref opened #9667 "Top-level await not working on ios platform"
In order to be able to use top-level `await` I enabled it in my `webpack.config.js` file:
[code]
Top-level `await` then works but only on android.
The moment a top-level `await` is encountered on ios, the app will just crash without any further information.

Expected behavior:

Either
Top-level `await` should work on ios like it does on android.
Or
A syntax error should be thrown so that I as a de

[2021-11-13 18:04] mpcref commented on #9636
I can confirm this issue.
Here's my work-around:
[code]

[2021-11-15 11:01] mobifly-dev commented on #8441
Nothing happen with NS. Issue still occurs, peoples have to do own patches for framework...

[2021-11-15 11:04] jcassidyav commented on #9663
I'm not seeing this behavior on a sample app created with from the hello world angular template,

What Layout is the label in or is there other CSS at play?

e.g.
[code]

shows the two lines.

[2021-11-15 11:15] rigor789 opened #9668 "Test"
### Issue Description

Test

### Reproduction

Test

### Relevant log output (if applicable)

[code]

### Environment

Test

###

- [X] I have searched the [existing issues](https://github.com/NativeScript/NativeScript/issues) as well as [StackOverflow](https://stackoverflow.com/questions/tagged/nativescript) and this has not been posted before
- [X] This is a bug report
- [X] I agree to follow th

[2021-11-15 11:15] #9668 closed

[2021-11-16 03:27] flipperlite commented on #9217
I believe the fix is to remove the app/app.css file altogether from your code and repo. With it gone, the SCSS seems to "compile" correctly.

[2021-11-16 03:27] #9217 closed

[2021-11-16 09:43] janoshrubos commented on #9663
[code]

The `Label` shows two lines for me too, but `Button` shows only the first line

[code]

[2021-11-16 09:45] farfromrefug commented on #9663
@janoshrubos isnt it because the button has a fixed height? Also try to set textWrap on the button. I think it is single line by default

[2021-11-16 09:51] #9591 closed

[2021-11-16 09:54] janoshrubos commented on #9663
@farfromrefug oh yes, addig `textWrap="true"` shows the second line on the `Button` too. Thanks

[2021-11-16 10:15] #9476 closed

[2021-11-16 10:17] #8697 closed

[2021-11-16 10:18] #9218 closed

[2021-11-16 12:28] andrewm-mitchells commented on #9663
Clarification - it does not break into second line only when used inside ActionBar element.
See example below:

[code]

[2021-11-16 13:25] farfromrefug commented on #9663
@andrewm-mitchells can you try and force the label height? Almost surely because the height of the label actually does not allow the second line.

[2021-11-16 13:27] andrewm-mitchells commented on #9663
I tried setting it to 80 which was at least twice as tall as a single line of text and it didn't affect it at all.

[2021-11-16 13:31] andrewm-mitchells commented on #9663
Might be related to iOS 15/15.1 as I can't even have two rows when using two separate Labels wrapped in StackLayout like so:
[code]

[2021-11-16 13:35] farfromrefug commented on #9663
@andrewm-mitchells ok so indeed it is a size issue within the actionbar.  Not sure right now about why as i never use the actionbar

[2021-11-16 13:40] andrewm-mitchells commented on #9663
But it works with a Button tag
<img width="431" alt="image" src="https://user-images.githubusercontent.com/44473677/141995558-ba396b69-b03a-46ef-bb56-bf81591192f2.png">

And here's a Label
<img width="410" alt="image" src="https://user-images.githubusercontent.com/44473677/141995693-d374b654-4322-4a6f-ba8b-b54abda49b6c.png">

It seems to be taking the width (olive bg) of the second row element (pu

[2021-11-16 13:42] farfromrefug commented on #9663
@andrewm-mitchells we can try something. Can you add an layout change event on the label to see its size compared to the button?

[2021-11-16 13:50] jcassidyav commented on #9663
Maybe a margins/paddding issue ?

[code]

Shows two lines for example.

[2021-11-16 14:01] sebj54 commented on #8073
I was having this issue for months and I just finally figured it out. This might seems counter-intuitive, but actually the solution is to add a wrapping `ScrollView` around the main layout (in my case, the direct  and only child of my `Page`).

So the short example above:

[code]

becomes:

[code]

So yes, you will have a nested `ScrollView`, `ListView` or `RadListView` 🤷

Kudos to @beeman and his

[2021-11-16 14:01] andrewm-mitchells commented on #9663
Yess! Exactly it. Removed padding on the Label and it shows both lines now. Don't why I didn't think about it originally 🤦🏽‍♂️.
Thanks for suggesting this and solving the puzzle!

<img width="417" alt="image" src="https://user-images.githubusercontent.com/44473677/141999249-93c4f249-c82d-4a6f-af07-46f067bb52c2.png">

[2021-11-16 14:10] andrewm-mitchells commented on #9663
Not a NS bug, closing this issue. Thank you everyone who responded!

[2021-11-16 14:10] #9663 closed

[2021-11-17 00:37] justintoth opened #9670 "window is not defined error after upgrading to NativeScript 8.1"
### Issue Description

For the past 4 days I have been attempting to upgrade my NativeScript / Angular code sharing (nativescript-schematics) app from NativeScript 8.0 to 8.1 and Angular 11 to 12, after working my way through 20+ build errors (100 github / SO threads read, 75 npm installs, and 50 ns cleans did the trick.) I'm really close to getting up and running with the latest and greatest now.

[2021-11-17 16:23] Atomico001 commented on #7344
someone find a fix for this?

[2021-11-17 17:13] rigor789 commented on #9636
We've identified the issue why our updated build scripts didn't include the arm64-simulator slices and we'll have a patch released for all the packages shortly.

[2021-11-17 17:38] NathanWalker commented on #9636
@cjohn001 thank you for reporting this - @mpcref  It worked under rosetta on M1 previously but we rebuilt them with latest Xcode 13.x natively now for M1 and published patch versions - these will work natively for M1 now:

* nativescript-ui-autocomplete:8.0.1
* nativescript-ui-calendar:8.0.2
* nativescript-ui-chart:9.0.1
* nativescript-ui-core:5.0.1
* nativescript-ui-dataform:8.0.1
* nativescript-

[2021-11-17 17:38] #9636 closed

[2021-11-18 08:31] AndreasKarlzzon opened #9672 "WebView Android Select dialog not working"
### Issue Description

When using WebView in Android angular, select tag on extern HTML page cant be opened ( Https page )

Error Message adb logcat:
WindowManager: Attempted to add application window with unknown token null.  Aborting.

WebView Created after page has been loaded dynamically added or WebView created in Component View, both gives the same error message ( result )

Creating a native

[2021-11-18 21:47] justintoth commented on #9345
@Bidou44 Did you figure out how to fix this error? I'm running into the same with the nativescript-purchase plugin. Or @triniwiz can you explain how to add the fallbacks?

[2021-11-20 07:11] danishashraf047 commented on #9357
I'm also facing this issue. There is no global.registerModule function in {N} 8.0. Could you share a demo code snippet for it? It would also be good for those who are facing this issue. Thanks!

[2021-11-20 19:42] marckassay commented on #9639
@erwindemoel Thanks for the link to that SO post, as that resolved my issue. There is a comment on that SO post about applying this solution in Azure:

[2021-11-20 23:59] gbelot2003 commented on #59
+1

[2021-11-21 21:12] erwindemoel commented on #9639
@marckassay you’re welcome 😊👍

[2021-11-22 21:00] dlcole commented on #7953
I couldn't get @OriIdan 's code to work, but after additional searching, this at least runs (in a NativeScript 6.8 JavaScript project):

    NSURL.fileURLWithPath(targetFilePath).setResourceValueForKeyError(true, NSURLIsExcludedFromBackupKey);

where targetFilePath is

    let documentsFolder = fs.knownFolders.documents();
    let targetFilePath = fs.path.join(documentsFolder.path, entity.name);

[2021-11-24 19:46] manijak opened #9682 "[Webpack5] Other platform code wrongfully included in bundle"
### Issue Description

When using the `FlipTransition` class the app fails to compile. Using `SlideTransition` or `FadeTransition` causes no issues.

[code]

### Reproduction

[code]

"@nativescript/core": "~8.1.5",
"@nativescript/android": "~8.1.1",
"@nativescript/ios": "~8.1.0",
"@nativescript/types": "~8.1.1",
"@nativescript/webpack": "~5.0.1",
"typescript": "4.3.5"

### Relevant log output (if

[2021-11-25 02:12] samiul-gtmi opened #9683 "Can't resolve '@nativescript/core/platform/platform' in '.../node_modules/nativescript-image'"
### Issue Description

When I run `ns run ios`, the ios app can't build for a relative path issue caused by nativescript-image plugin.

### Reproduction

I installed and implemented nativescript-image by following the official documentation.

### Relevant log output (if applicable)

[code]

### Environment

[code]

### Dependencies

[code]

###

- [X] I have searched the [existing issues](https://

[2021-11-25 08:01] rigor789 commented on #9683
Use `@nativescript-community/ui-image` with ns7+, it's the same plugin that has been moved under the NativeScript-Community repo.

[2021-11-26 02:27] samiul-gtmi commented on #9683
Thank you very much for your kind reply.

[2021-11-26 02:44] #9683 closed

[2021-11-28 00:09] LaKing opened #9684 "TabView crashes on iOS, when clicking on "More" to access the tabs that won't fit on the first screen."
### Issue Description

On the TabView component when looking on iOS only the first 3 tabs are visible, if there are more the 3, the rest of them are supposed to be behind the "More" button. Clicking the More button crashes the application. Using Nativescript Vue.

### Reproduction

_No response_

### Relevant log output (if applicable)

[code]
[code]

### Dependencies

[code]

###

- [X] I have se

[2021-11-29 17:46] Archez commented on #9682
There is no flip transition implementation for iOS as it is built into the iOS ViewController. If you import it into a common file or a `.ios.(js|ts)` file, webpack will fail to resolve the module. This means if you want to use the flip transition directly in your code, you can only import the flip transition from a `.android.(js|ts)` file.

NativeScript core code only uses the flip transition int

[2021-11-29 18:20] manijak commented on #9682
I understand, the above was just an example. In my case this fails even if the code is located in the `view-flipper.android.ts` file. The strange part is that I am running a iOS build, but it still fails here for some reason.

[2021-11-29 18:30] rigor789 commented on #9682
@manijak as a quick test, can you add the following to your webpack config:

[code]

And let me know if that fixes the issue?

[2021-11-29 18:42] manijak commented on #9682
It sure did. Thanks! So this basically ignores the android parts of a "plugin" while building for iOS platform?

[2021-11-29 18:55] rigor789 commented on #9682
@manijak cool, yeah this confirms to me what the issue is - you can use that until we push a fix in the configs...

The core flavors work by using `require.context` to include all files in the app in the bundle. The `require.context` ignores anything in App_Resources etc, but seems like it doesn't ignore "other" platform specific code. The proper fix will need to be in the base configs - making th

[2021-11-29 19:12] Archez commented on #9357
@danishashraf047 the `global.registerModule` is part of the compiled webpack output based on the `xml-namespace-loader`

My workaround so far to have custom components load in xml is by adding a resolution alias in webpack, which makes my components resolve similarly to node_modules resolution for plugins.

In `webpack.config.js` I added the following
[code]

And in my xml I reference a component

[2021-11-30 11:11] Zach-Mose commented on #9493
Thanks, @shoutershub was the end of all my problems

[2021-12-01 08:32] ttmeowdd opened #9687 "Can't locate the Gradle launcher."
### Issue Description

Launching lib\main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...
Exception in thread "main" java.lang.RuntimeException: Could not locate the Gradle launcher JAR in Gradle distribution 'C:\Users\User\.gradle\wrapper\dists\gradle-5.6.2-all\9st6wgf78h16so49nn74lgtbb\gradle-5.6.2'.
	at org.gradle.wrapper.BootstrapMainStarter.findLauncherJar(Boots

[2021-12-01 16:32] rigor789 commented on #9687
Seems like you are not using NativeScript, but this issue tracker is reserved for NativeScript related issues.

If you are using NativeScript, please open a new issue with more details so we can help you better.

[2021-12-01 16:32] #9687 closed

[2021-12-02 16:05] Techbossru opened #9688 "Best way to expose Swift library"
### Issue Description

Im readed docs (https://v7.docs.nativescript.org/plugins/use-native-ios-libraries#apis-written-in-swift)

But can i really use Swift CocoaPod in Nativescript plugin?

CocoaPod im trying to use: Mindbox (https://github.com/mindbox-moscow/ios-sdk)

Im really stucked

### Reproduction

_No response_

### Relevant log output (if applicable)

_No response_

### Environment

_No r

[2021-12-02 16:51] #9688 closed

[2021-12-03 10:02] DimitrisRK commented on #9624
@rigor789 These past few days, this option has been throwing errors on release builds (tested for android) because of jest-worker not supporting it.
Output:
[code]

[2021-12-03 12:29] rigor789 commented on #9624
@DimitrisRK the webpack issue has been fixed, you can `ns clean` and then run again and it should work fine with node17 without the workaround.

The `ns clean` is mainly required to make sure that the `node_modules` folder is wiped, and the `package-lock` is also cleared, so the latest version of `webpack` is installed and not a cached version...

[2021-12-04 17:53] justintoth commented on #5443
@triniwiz Can you speak to how we leverage the code you changed to disable zoom on a webview? It looks like there should now be a "disableZoom" property on the WebView, but that doesn't seem to be the case.

[2021-12-05 01:44] dlcole commented on #9357
@Archez - can you include a list of your actual file structure?  I'm trying to migrate a JavaScript project from {N} 6.5 and this is biting me big time.  I've read through the documentation (https://docs.nativescript.org/webpack) and it looks like what you have seems pertinent I just can't make it apply in my case.

As a reference, here's what I have:

[code]

Before, all I had to do was specify t

[2021-12-05 02:55] triniwiz commented on #5443
@justintoth How are you trying to set the value?

[2021-12-05 04:49] kajic opened #9690 "java.lang.NoSuchMethodError for various native modules, on some devices"
### Issue Description

Possibly since upgrading to NativeScript 8, we're seeing a few different seemingly related issues in calling native js methods, but only on a few devices.

For example:

[code]
(Samsung SM-A715F)

---

[code]
(Samsung SM-A715F)

---

[code]
(Pixel 6 Pro)

### Reproduction

I can't reproduce this on a device of my own.

### Relevant log output (if applicable)

_No response_

[2021-12-05 04:57] kajic commented on #9690
Could https://github.com/NativeScript/NativeScript/issues/8709 be related?

[2021-12-05 11:47] justintoth commented on #5443
@triniwiz Sure thing...

`<WebView #webView></WebView>`

[code]

[2021-12-06 12:41] DanendraWM commented on #9493
it works thanks bro

[2021-12-06 16:53] dlcole commented on #9357
@Archez - thanks for the follow-up.  I've been working on this for two days now with zero progress.  I believe the common UI component is being found, but is being processed differently.  Maybe this is a change from CommonJS, but after I correct the import statements to f=reference @NativeScript I get this error:

[code]

This a different component that I copied from another project that has worke

[2021-12-07 01:51] dlcole opened #9691 "Common UI component fails after migration from {N} 6.8 to 8.1 with error: instanceType is not a constructor"
### Issue Description

I created a very simple common UI component, blue-text, and included it in a Hello World Nativescript 6.8 JavaScript project;  It works as expected.

blue-text.js:

[code]
main-page.xml:

[code]
Then, I upgrade the NativeScript CLI to 8.1.5, migrate the project, make the changes necessary eliminate the build errors (e.g., removing tildes, changing require's to import's, etc)

[2021-12-07 01:57] dlcole commented on #9357
I believe the problem I've reported above is sufficiently different that I've created a separate issue: [https://github.com/NativeScript/NativeScript/issues/9691](https://github.com/NativeScript/NativeScript/issues/9691)

[2021-12-07 01:58] NathanWalker commented on #9691
Try changing:
exports.BlueText
to:
export { BlueText };

[2021-12-07 02:37] dlcole commented on #9691
@NathanWalker - that at least gives me a different error message:

[code]

I'm following the example code that was in version 1 of The NativeScript Book, as I haven't found any other documentation on the subject.  It's worked up until now, but I'd welcome any additional insights.

[2021-12-07 02:53] NathanWalker commented on #9691
No worries, you're running into esm vs commonjs stuff which is expected with {N} 6 > 7 and above.

Try this:

[code]

[2021-12-07 03:18] samiul-gtmi opened #9692 "RpcIpcMessagePortClosedError: Cannot send the message - the message port has been closed for the process 3848."
### Issue Description

I am trying to run my ios app on a physical device to test. It runs fine on iPhone emulator,  but it is being problematic on physical iPhone. Main two issues for me are-
- ```Error is: ENOENT: no such file or directory, scandir '/Users/user02/Library/MobileDevice/Provisioning Profiles/'.```
- ```UnhandledPromiseRejectionWarning: RpcIpcMessagePortClosedError: Cannot send the

[2021-12-07 03:20] dlcole commented on #9691
Ha!  That works!  Thanks so much for your help and quick response, @NathanWalker

I'll close this issue, but it can likely help anyone else trodding the same migration path.

[2021-12-07 13:14] davecoffin commented on #9614
FYI for anybody that stumbles on this...thanks to @janoshrubos there is a PR in the works so it will be fixed in core soon, but if you want a workaround for now you can use @janoshrubos's code in the PR: https://github.com/NativeScript/NativeScript/pull/9617/files
If you are using default tabview background, its as simple as this:
[code]

[2021-12-10 15:37] VepretskiyD opened #9694 "ImageSource.fromAsset() memory leak on iOS"
### Issue Description

On iOS my app is crashing because it eats all the memory. I used Xcode profiler to find out what's causing it. The main problem is with `VM: CG raster data` that gets created every time I create an image source from an asset that comes from `nativescript camera-plus`. The problem is that memory allocated by these `raster data` doesn't get released after navigating away.
Basi

[2021-12-11 00:13] edusperoni commented on #9694
I wonder if changing that to:
[code]
could solve the issue?

Not sure, since we keep a reference to `resultImage`;

[2021-12-11 15:39] cascading-jox commented on #550
I can't see it either. I just cloned [nativescript-movies-demo](https://github.com/williamjuan027/nativescript-movies-demo) and ran `tns run android`. I see no box-shadow on any element.
![Screenshot from 2021-12-11 16-37-01](https://user-images.githubusercontent.com/8418570/145682413-ec5e73e0-8072-4597-9be9-62519ff87433.png)

[2021-12-14 16:26] danishashraf047 commented on #9454
The same problem is happening to me. If anyone could help so it would be appreciated. Thanks!

[2021-12-16 14:30] felixkrautschuk opened #9703 "Webpack 5 generating wrong output in bundle.js using --env.production"
### Issue Description

I try to upgrade our app from using @nativescript/webpack 4.1.0 to 5.0.0.

Let's assume the following snippet anywhere in the app code:

[code]

When running the app in development mode (tns run android|ios), everything works as expeced. The resulting bundle.js contains the following:
... { myTestKey: "𝒶", "𝒶" : "myTestValue" } ...

BUT when running this using **tns run andr

[2021-12-17 08:29] fpaaske commented on #9587
We are also seeing a lot more crashes on 8.1 than on 8.0. Although, we're not sure what it's related to.

[2021-12-17 12:49] julianlaibach opened #9704 "Unexpected Error "has underlying svelte-native code changed?" on ns run ios / ns run android"
### Issue Description

When i run the Command ns run ios or ns run android the Project is builded succesfully but once the App is started it crashes with the Terminal Output below.

When i uncomment the else Block in "./node_modules/svelte-hmr/runtime/svelte-native/proxy-adapter-native.js" Line 132 everything works fine and the App is running

[code]

My Plattform is an M1 Mac, ns doctor gives me

[2021-12-17 13:31] rigor789 commented on #9704
/cc @halfnelson

[2021-12-17 13:41] ndabAP commented on #9659
I'm new to app development and started from zero and have the same issue. Is it correct to add `exported` to the manifest here `App_Resources/Android/src/main/AndroidManifest.xml`?

[2021-12-17 14:59] sb-arzan opened #9705 "No .aab found in /Users/arz/Documents/repo/platforms/android/app/build/outputs/bundle directory."
### Issue Description

The issue happens when using flavors only

### Reproduction

  flavorDimensions "default"
  productFlavors {
    beta {
      dimension "default"

      applicationIdSuffix ".dev"
      versionNameSuffix '-BETA'
    }
  }

### Relevant log output (if applicable)

_No response_

### Environment

_No response_

### Please accept these terms

- [X] I have searched the [existing

[2021-12-17 17:03] felixkrautschuk opened #9706 "Webpack 5 - platform and screen-size qualifier not usable at the same time anymore"
### Issue Description

In one of our app we need different layouts for Android phones and tablets and iOS phone and tablets for some parts of the UI, so we have something like this:

- template.android.xml
- template.android.minWH600.xml
- template.ios.xml
- template.ios.minWH600.xml

While this was working as expected with @nativescript/core 8.1.5 and **@nativescript/webpack 4.1.0**, it is not co

[2021-12-17 17:44] dlcole commented on #9691
@NathanWalker - I stumped again on a related migration issue.  I have several common UI components I need to migrate.  So far, so good, EXCEPT for custom events defined for those components.  For example, I have a custom GridTab component that can look like this:

`<gridtab:GridTab keys="{{ eventData.announcementsByDay }}" tabTap="onGridTabTap" />`

This creates a GridLayout with Labels from the k

[2021-12-18 00:19] halfnelson commented on #9704
hrm, my first guess is that this is a regression in svelte loader, but I will dig in.
The eternal conundrum of pinning to known working versions of dependencies vs accepting minor versions for security and fixes

[2021-12-18 00:27] halfnelson commented on #9704
@julianlaibach I had a look into this and I can't reproduce with a fresh project. Is this a fresh run from a new project? or have you made changes to Home.svelte and App.svelte ?

[2021-12-18 14:14] dlcole commented on #9691
It took me two days to figure this out, but here's what I've found:  in NS 6, the line

`GridTab.tabTapEvent = "tabTap"; // Specify custom events for this class`

apparently created an event listener, and that doesn't happen with NS 7 and later.  That means the custom component must create its own listener, such as (within onLoaded):

[code]

Now, there's a listener in place to receive the `notify

[2021-12-18 14:14] #9691 closed

[2021-12-18 15:08] FilipSzutkowski commented on #9704
I have the same problem running a fresh install of the svelte template after running _run ios_. Although, the else block @julianlaibach mentioned, is not commented out in my _svelte-hmr/runtime/svelte-native/proxy-adapter-native.js_ and it still doesn't work to _run ios_.

[2021-12-18 15:22] rbudnar opened #9707 "Splash Screen does not appear correctly in Android 12"
### Issue Description

After upgrading an android device to android 12 or using an android 12 emulator, the splash screen image no longer appears when the app loads. This has been brought up in discord at least twice, but there has been no response or guidance.

Google has posted documentation on migrating splash screens here: https://developer.android.com/guide/topics/ui/splash-screen/migrate

##

[2021-12-19 10:11] julianlaibach commented on #9704
Sorry for the late reply. Yes its a completely new App, nothing modified at this point. Im curious, maybe has something to do with the Platform? @FilipSzutkowski are you running a M1 Macbook?

[2021-12-19 14:05] FilipSzutkowski commented on #9704
Nope. Running a 2019 MacBook Pro with 12.0.1 MacOS

[2021-12-19 15:08] dlcole opened #9708 "Cannot debug with --debug-brk on any platform, any device"
### Issue Description

I'm using Nativescript 8.1.5.  I ran `tns create` to create a new Plain JavaScript, Tabs project.  I added the Android and iOS platforms.  Pure vanilla, new project.

I then ran `tns debug <platform> --device <device id> --debug-brk` to stop the Chrome debugger at the application start, on both Android and iOS, and on both emulator and real devices.  In all cases, the debugg

[2021-12-19 17:35] rigor789 commented on #9703
This is likely a Terser configruation issue - we did encounter it in an app recently, but for us we didn't really need the html entity decoding/encoding, so ended up substituting it with a no-op implementation:

[code]

And then `he-noop.js`:

[code]

---

We still need to find which Terser option affects the output.

[2021-12-19 20:00] edusperoni commented on #9703
Perhaps `computed_props`?

definitely a bug on terser though. Perhaps try updating some deps and see if it may have been fixed already:
[code]

[2021-12-21 00:55] rreddy80 commented on #9659
That's exactly where I updated the manifest file as well, however for me, the error message didn't go away even after that
`Unable to apply changes on device: emulator-5554. Error is: The parser encountered some structural problem in the manifest..`

[2021-12-21 01:35] triniwiz commented on #9659
It needs to be added to the activity not application

[2021-12-21 12:17] rreddy80 commented on #9659
yes that did the trick, nice

[2021-12-22 07:13] Whip commented on #5926
We're on NS8 and this issue still exists.

[2021-12-22 11:25] zaSmilingIdiot commented on #9538
I'm appending to this with more info related to my specific use case as its related to the `Uncaught TypeError: Cannot read property 'itemview' of undefined` error.

applicable dependencies are as follows:
[code]
There's a couple more but those are the just of it.

The error generated from running `ns debug ios --no-hmr` is as follows (note that I've replaced the project folder with XXXXXXX:
[code

[2021-12-22 12:49] Lucia-Bader commented on #9614
Thank you for the workaround @davecoffin. I have just one more question. Is it possible to use another background then default background, if yes how does it works?

[2021-12-23 09:53] kriefsacha opened #9713 "'android' is defined as a property in class 'LayoutBase', but is overridden here in 'ProxyViewContainer' as an accessor"
### Issue Description

Hi, I updated nativescript from 6 to 8.1.5.

Since then i have those errors when i run `ns run android` :

I tried ns clean, didnt do a thing.

package.json

[code]

tsconfig.json

[code]

### Reproduction

Update from nativescript 6 to 8.1.5 and then try to run on a phone.

### Relevant log output (if applicable)

_No response_

### Environment

[code]

### Please accept th

[2021-12-23 10:08] kriefsacha commented on #9713
My bad, i found this [solution](https://docs.nativescript.org/troubleshooting.html#typescript-related)

thank you !

[2021-12-23 10:08] #9713 closed

[2021-12-24 13:20] rigor789 commented on #9692
This likely needs a better error message - but what that usually means is that you do not have a Provisioning Profile created for the device you are trying to run the app on. Apple is very strict about running "unknown" apps on a real device, so you have to generate special certificates and Provisioning Profiles before you are able to run your app on the device.

The easiest way to do it is to run

[2021-12-25 02:53] AnilSeervi opened #9716 "LICENSE type stated to be Apache 2.0 while using MIT"
### Issue Description

LICENSE type of the project is stated to be Apache 2.0 in the [Repo README](https://github.com/NativeScript/NativeScript#license).

### Reproduction

_No response_

### Relevant log output (if applicable)

_No response_

### Environment

_No response_

### Please accept these terms

- [X] I have searched the [existing issues](https://github.com/NativeScript/NativeScript/issu

[2021-12-27 12:32] vickyATD commented on #9601
@DimitrisRK , Not exactly. when we are navigating in between tabs, it navigates partially meaning it shows some portion of previous screen and some portion of next screen.

Clicking on tab still works ,when this issue occurs

[2021-12-27 12:36] vickyATD commented on #9601
@DimitrisRK , Not exactly. when we are navigating in between tabs, it navigates partially meaning it shows some portion of previous screen and some portion of next screen.

Clicking on tab still works ,when this issue occurs

[2021-12-28 00:45] ihazar commented on #9451
Any news on this?

[2021-12-29 20:45] sudiptosen commented on #8782
Facing this issue on M1 - Should I really exclude `arm64` and expect it to work on M1. Please help. Many thanks

[2021-12-29 21:12] sudiptosen commented on #9569
@cjohn001 can you please post the reinstall steps with `ARM64`. Really appreciate it. I have been struggling for days with this `@nativescript/firebase` plugin. Really appreciate it

[2021-12-29 21:28] cjohn001 commented on #9569
@sudiptosen : firebase plugin is also not running for me on ARM64. I use the old version which does not have ARM64 binaries included. I also cannot run on ios simulator if ns app includes this package. regarding installing native binaries see rigor789 comment.

[2021-12-30 17:06] mobifly-dev opened #9722 "Pasting function does not work on iOS"
### Issue Description

Pasting function does not work on any of TextField or TextView, SearchBar components on iOS.

This has been tested on the latest iOS 15.2 simulator and physical devices. In both cases with the same result.

If you try to copy a text and then paste into TextField in the app it returns nothing. If you try to paste in another place outside the app it works as expected.

The too

[2021-12-30 18:04] TravJav opened #9723 "Unable to connect to simulator or real device [Android]"
### Issue Description

When I  run a simulator ( GemyMotion ) I receive an error as shown in the message section of this issue

When I  run on my android device  I receive an error as shown in the message section of this issue

I use the CLI like so "tns devices" which prints out my devices as expected; when they're connected.

When I run "tns run android" with the log trace I encounter this error

[2021-12-30 21:55] rigor789 commented on #9723
Make sure you can access services.gradle.org in your browser. May be a temporary downtime or a firewall issue on your machine (or a dns cache issue).

[2021-12-31 03:36] TravJav commented on #9723
I dont know what it was, but it just stopped. I did a reboot and let it sit after running the run command with the simulator. Hung for a long time then rendered

[2021-12-31 03:36] #9723 closed

[2021-12-31 15:21] davedbase opened #9724 "Add Solid.js"
### Is your feature request related to a problem? Please describe.

Hailing from the SolidJS community and we'd love to see NativeScript support Solid's fine-grained reactivity. It brings a simplicity and extreme performance to the table and would be an excellent addition for a mobile environment. You can read more about solid at https://www.solidjs.com.

### Describe the solution you'd like

We'd

[2021-12-31 17:18] NathanWalker commented on #9724
Looks really nice and clean - @shirakaba given your experience with tsx integration would be curious your input here.
I would imagine using this https://github.com/shirakaba/nside/tree/master/app as a guide to setup may give solidjs users a good start to setup a project.

[2021-12-31 17:51] edusperoni commented on #9724
I can speak for the angular side for you.

Basically what you need is to write a renderer that translates your tsx and other operations to nativescript views.

This is a good starting point:

[code]

For angular we do a few special things. Since we need comment nodes we have special views called CommentNode and TextNode which are never added to the NativeScript dom, and we also augment views with

[2022-01-01 17:56] shirakaba commented on #9724
@davedbase I'll copy out the some comments we had over Discord, for posterity:

---

Even if Solid.JS offers a custom renderer API, **you would still very likely benefit from simply implementing DOM and using `solidjs/web` as-is**, rather than implementing the renderer APIs for each and every UI component. Mainly because this would give users an imperative API to work with, but also because it wou

[2022-01-01 19:58] davedbase commented on #9724
Wow @shirakaba this is a really awesome push! Thank you so much for all the detail. NativeScript has been brought up in our Discord on more than one occasion and now I have some information regarding implementation to bring back to our community.

There are quite a few community members very excited and serious about making this happen. The concern regarding appendChild is something we could poten

[2022-01-02 02:47] MrFoxPro commented on #9724
Thanks @shirakaba for detailed explanation in discord of NativeScript and Solid.JS!
I did proof-of-concept.
https://github.com/MrFoxPro/solid-nativescript-experiments
![solidnative2](https://user-images.githubusercontent.com/17229619/147864679-eda151de-cc90-46cd-ba74-bc1443c776c9.gif)

If folks from @solidjs doesn't mind, I can continue development in the near future.

[2022-01-02 03:10] NathanWalker commented on #9724
Really excellent @MrFoxPro 👏

[2022-01-02 08:20] deelocodes opened #9726 "Deploy your app for free 🚀"
Hey @NativeScript, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https:/

[2022-01-02 08:26] deelocodes opened #9727 "Deploy your app for free 🚀"
Hey @NativeScript, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https:/

[2022-01-02 14:41] fdbk-web commented on #8073
We have the same bug in NS Playground with TextView on iOS.

We solved it by using ScrollView also (put EVERYTHING inside it).

[2022-01-04 15:05] tommag21 commented on #9614
After creating a new `UITabBarAppearance` apparently `tabTextColor` stops working, has anyone faced this issue?

[2022-01-05 06:54] Lucia-Bader commented on #9614
@tommag21 yes I'm facing the same issue

[2022-01-06 06:41] Whip opened #9730 "Tap not working on elements in custom component"
### Issue Description

I have a custom component to share the action bar across the screens. Until a few days ago, everything worked fine but now `tap` is not working on elements in the custom component. Absolutely nothing happens when tapping the component. Everything works fine if I copy and paste the contents of the component directly on the page.

I haven't changed anything since last time it

[2022-01-07 13:00] DimitrisRK opened #9732 "bug(8.2-alpha): Android frame transition throws exception"
### Issue Description

In android, when I navigate from a page to another programmatically, I receive an exception (output provided).

Exception seems to occur because of this line here: https://github.com/NativeScript/NativeScript/blob/release/8.2.0/packages/core/ui/frame/index.android.ts#L1028

### Reproduction

Navigate among pages programmatically. This occured to me on 3rd navigation.
One of

[2022-01-07 18:44] twickstrom commented on #8966
Can you post an example webpack.config.js, this does not seem to work for me

[2022-01-08 02:47] Erudition opened #9733 "Misspelled "platfrom" causes "Cannot read property 'toLowerCase' of undefined" error"
### Issue Description

There is a misspelling in the code.

https://github.com/NativeScript/NativeScript/blob/c6bfc05bb766f2fca386b694a2cb464a13c99319/packages/core/cli-hooks/before-checkForChanges.js#L11

platfrom should be platform.

same with the lines above:

https://github.com/NativeScript/NativeScript/blob/c6bfc05bb766f2fca386b694a2cb464a13c99319/packages/core/cli-hooks/before-checkForChange

[2022-01-08 16:13] DimitrisRK commented on #9733
This isn't the reason that this error is thrown. Variable names can be anything.
The problem must be deeper.

[2022-01-08 16:16] rigor789 commented on #9733
Perhaps fixed by this commit: https://github.com/NativeScript/nativescript-cli/commit/0be52e914540898fa0cdc679edfa303192c812f7

Try `npm i -g nativescript@next`

[2022-01-09 08:56] Whip commented on #9730
Just to be sure, I've created a test app with `ns create` using Sidenav template. Moved the actionbar into custom component and this behaviour can be replicated.

[2022-01-09 09:14] Erudition commented on #9733
I agree, the fact that the misspelling is in the original assignment means it can't be the reason. Will have to dig deeper.

[2022-01-09 09:14] #9733 closed

[2022-01-09 16:59] rigor789 commented on #9730
Can you attach a zip file of this test project? (`ns clean` then zip up and drop in issue).

[2022-01-09 17:05] keerl commented on #9730
@Whip does this happen on Android only? I may have encountered a similar thing recently. I didn't know what to do to fix the issue and ended up creating a new Android emulator and that seemed to get rid of the issue. That's not the only time it has happened though.

https://discord.com/channels/603595811204366337/828973479343947787/927025603201339432

[2022-01-10 05:36] Whip commented on #9730
Zip file attached.

@keerl Same behaviour on iOS as well. BTW I'm using real devices for both platforms.

[Test.zip](https://github.com/NativeScript/NativeScript/files/7836940/Test.zip)

[2022-01-10 14:24] sitefinitysteve opened #9736 "iOS 15 breaks ActionBar styling until scroll"
### Issue Description

So this is a blue background with white text.
[code]

[code]

This is what shows up in the view...

![image](https://user-images.githubusercontent.com/1542376/148780687-9b3a5212-65c5-4c23-8f08-afd7c83ec03a.png)

Looks like nothing, but it's really just the TEXT is white, and there's no background color... but when I scroll even a couple millimeters

![image](https://user-ima

[2022-01-10 14:59] sitefinitysteve commented on #9736
I'm on the (mostly) latest version of NativeScript (8.1.4), and I did an "ns clean" as well

[2022-01-10 16:18] sitefinitysteve commented on #9736
Closing the issue, what resolved it was

Updating to 8.1.5 (Likely not the cause in itself)

Doing that however moved webpack from v3->v5 so all the cleanup of the code related TO THAT... probably was thr eoor cause.

[2022-01-10 16:18] #9736 closed

[2022-01-11 11:27] felixkrautschuk commented on #9730
For me a similar issue exists since **@nativescript/webpack 5.0.3**.

When having an xml snippet like this:

snippets/snippet.xml
[code]

And I use this snippet in a page:
main-page.xml
[code]

And that page defines the tap method of the snippet "myTestFunc"

main-page.ts
[code]

The tap event is not called since 5.0.3.

It was working until 5.0.2. This way we were able to share some xml snippets

[2022-01-11 14:33] Whip commented on #9730
But I'm using 5.0.0-beta.0 version of webpack

[2022-01-11 16:20] dlcole commented on #9216
@pandabuilt - did you ever resolve this?  I see you closed the issue, but I'm hitting the same problem as I try and migrate a large project from {N} 6.8 to 8.1.

[2022-01-11 18:33] farfromrefug opened #9737 "knownFolders at top level broken in alpha"
with that change https://github.com/NativeScript/NativeScript/commit/88e355d8144cff4d13c59ac83cdbc2c00fd2fe35 all plugins accessing`knownFolders` at script top level are broken.
i understand the need for some framework to not initialize native apps at top level though it should still be the default for Nativescript.
it is totally fine to want to access knownFolders at top level.

i see multiple wa

[2022-01-12 12:38] JakeAi commented on #7768
@NickIliev Just came across this issue. Didn't realize formdata wasn't really supported in nativescript angular. Spent 2 hours debugging. How hard would a polyfill be for nativescript angular?

[2022-01-12 17:20] DimitrisRK commented on #9732
First post updated with more accurate details.

[2022-01-12 20:19] jcassidyav commented on #9707
I played around with this a little, Here is a demo which utilizes the new Splash API while keeping the old splash screen for API < 31.

https://github.com/jcassidyav/api31Splash

[2022-01-13 09:22] farfromrefug commented on #9707
@jcassidyav very interesting. Can you detail a bit what you did to implement the new api in your demo app? (which files were modified ...)

[2022-01-13 11:55] jcassidyav commented on #9707
@farfromrefug I added some detail to the readme on the repo.

[2022-01-13 13:03] fpaaske commented on #8926
Can anyone confirm if this is supported on iOS or not? I don't see the same compilation error as @ujwal-setlur (probably more relaxed rules), but do I see that the option is missing from IConfigIOS.

I also don't see any difference in startup time with this setting on or off on a medium sized app on iPhone 6, nor iPhone Xs.

[2022-01-13 13:39] heyman commented on #8411
I can confirm that this still seems to be an issue on iOS 15 for the latest alpha version of NativeScript:

`@nativescript/core: 8.2.0-alpha.3`
`@nativescript/ios: 8.2.0-alpha.4`

[2022-01-14 03:38] NathanWalker commented on #9737
fixed via https://github.com/NativeScript/NativeScript/commit/7cf2653a2636b87cf03ef1ec914579a049cbb0f3
in 8.2.0-alpha.4

[2022-01-14 03:38] #9737 closed

[2022-01-14 03:43] NathanWalker commented on #9732
closed via 8.2.0-alpha.4

[2022-01-14 03:43] #9732 closed

[2022-01-14 10:03] markusmauch commented on #9659
We are experiencing the same issue targeting Android 12 / SDK 31:

`The parser encountered some structural problem in the manifest`

Trying to install the apk gives the following error:

`The APK failed to install. Error: INSTALL_PARSE_FAILED_MANIFEST MALFORMED: Failed parse during installPackageLl: /data/app/vmd1969193467.tmp/base.apk (at Binary XML file line #50): com.tns.NativeScriptActivity: T

[2022-01-14 10:30] rigor789 commented on #9659
@markusmauch you can use `patch-package` to add `android:exported="true"` to the firebase service and rebuild your app: https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/platforms/android/libraryproject/firebase/src/main/AndroidManifest.xml

[2022-01-15 19:52] kfron commented on #7287
@edusperoni In my case it did not help. Even having `singleRun: false` does not resolve this issue.
And what do you mean by saying that there is no error? It states that there is an error - if it's expected behavior then this message is misleading.

[2022-01-16 06:40] edusperoni commented on #7287
1. Add this to your webpack config in `webpack.chainWebpack` for the moment. (It seems we forgot to add it to the unit test runner V3, will fix tomorrow)

[code]

2. That error is there for verbosity. If you see that the connection was lost because the server is shutting down, or the test ended, then that's expected, but if it shows up mid execution, that's probably not expected. Either way what m

[2022-01-16 07:05] anarnoli commented on #7287
@kfron I used below link  to keep the app running in the emulator after the test run has completed.

https://github.com/jcassidyav/nativescript-testing-demo/tree/main/blog#run-the-tests

[2022-01-16 07:06] anarnoli commented on #7287
@kfron Did't helped this flag to resolve the purpose.

[2022-01-16 09:25] bobwatcherx opened #9739 "Fetch API error [ OBJECT PROMISE ]"
### Issue Description

cannot fetch API

### Reproduction

i have problem for Fetch data from API

this my code
**Home.svelte**

[code]
**My Console**
To start debugging, open the following URL in Chrome:
devtools://devtools/bundled/inspector.html?ws=localhost:40000

Successfully synced application org.nativescript.sveltenative on device 49518a86.
JS: [object Promise]

can you have solution ? than

[2022-01-16 09:54] bobwatcherx commented on #9613
i have new error again
my eror in android Devices is

ReferenceError : navigator is not defined

[2022-01-16 13:28] rigor789 commented on #9739
See https://developer.mozilla.org/en-US/docs/Web/API/Response/json

`.json()` returns a Promise, so the output is correct. You need to wait for it to resolve:

[code]

[2022-01-16 13:30] rigor789 commented on #9613
@bobwatcherx post the full stack trace please.

[2022-01-17 11:58] gyan-nsf opened #9741 "Android action bar hides behind status bar"
![ezgif-5-e40dba71c5](https://user-images.githubusercontent.com/56147171/149766181-0ed2aabe-9726-408e-83de-02c3a1cbc52b.gif)
### Issue Description

The action-bar hides behind status bar when TextView gets focus. but not in IOS

### Reproduction

ro reproduce clone this repo

https://github.com/gyan-nsf/ns-android-actionbar-issue

### Relevant log output (if applicable)

_No response_

### Environ

[2022-01-18 11:50] felixkrautschuk opened #9742 "core 8.2.0-alpha.5: Android nested frame navigation within RadSideDrawer not working"
### Issue Description

In one of our app we have a RadSideDrawer that acts as a menu and it contains a nested Frame so that the user can navigate within the drawer.

After installing @nativescript/core@8.2.0-alpha.5, the drawer navigation does not work anymore. It is just not navigating at all and there is no error message.

main-page:
[code]

drawer-page:
[code]

[code]

So the expected result:

[2022-01-18 16:23] felixkrautschuk opened #9743 "core 8.2.0-alpha.5: Android Frame handling buggy when using animated: false"
### Issue Description

I just tested @nativescript/core 8.2.0-alpha.5 in one of our projects and notice an issue on **Android**

When navigating without animation in Android like this...

[code]

... then the back navigation does not work anymore on Android (I can press the back-button of the device but the navigation is not visible).

In addition,`Frame.topmost().getViewById(<view-id>)` returns _

[2022-01-18 16:46] felixkrautschuk commented on #9742
The issue seems be related to https://github.com/NativeScript/NativeScript/issues/9743 as I "reset" the navigation of the drawer frame when opening the drawer menu like this:

[code]

When removing `animated: false`, the drawer navigation works on Android as well.
However, in our real app the navigation feels "laggy" (not able to provide a demo app for that scenario).

[2022-01-20 02:18] sarezjay commented on #9659
Hi! Can you explain how to do this using `patch-package`?

[2022-01-20 10:26] rigor789 commented on #9659
@sarezjay sure, though after a quick look - seems like the AndroidManifest is packaged into an `aar` file - so in that case patch-package won't work. But you can still work around this:

1. make a folder in your project where you can store a patched aar - for example `patches/firebase/`
2. copy the `firebase-release.aar-disabled` from `node_modules/@nativescript/firebase/platforms/android` into `p

[2022-01-22 13:47] lucianomurr commented on #9345
Hi All!
Any update on this?

[2022-01-23 17:02] #9716 closed

[2022-01-24 07:40] gyan-nsf commented on #9741
Hi guys,
Any update on this ?

Thanks

[2022-01-25 11:44] hitesh-nsf commented on #9741
Facing the same issue... eagerly waiting for the solution...

[2022-01-25 11:57] mobifly-dev commented on #9722
Finally resolved. On latest iOS you have to add App Sandbox support to your app.  More information here: https://developer.apple.com/documentation/security/app_sandbox

Go to your App_Resources/iOS, then put to your app.entitlements

[code]

More entitlements that are required to use some iOS areas:
[code]

I think this should be added to official NativeScript documentation. Basically it is requir

[2022-01-25 11:57] #9722 closed

[2022-01-25 12:16] gyan-nsf opened #9746 "IOS Textfield height issue"
### Issue Description

In IOS if text content is very large. The height of the textField get decreased on keyboard hide. This is very weird behaviour of textfield  in IOS.

see screen recording : https://1drv.ms/v/s!ArkRgzpSRrygg-1ZIiQHScM08rGXPw?e=hHehfj

note : adding NativeScript IQKeyboardManager Plugin does not ha any effect.

### Reproduction

git repo to reproduce
https://github.com/gyan-ns

[2022-01-26 14:57] DimitrisRK commented on #9730
@Whip What if you create a `shared/actionbar.js` file and export functions from there?

[2022-01-26 20:24] monishakhapali opened #9750 "Modals appearing with white background in dark mode"
### Issue Description

Hello everyone, Has anyone faced issues with Android dark mode, all the modals in the app have a white background in dark mode. Any one who knows the solution for this issue ?

### Reproduction

_No response_

### Relevant log output (if applicable)

_No response_

### Environment

_No response_

### Please accept these terms

- [X] I have searched the [existing issues](http

[2022-01-26 21:35] farfromrefug commented on #9750
i confirm the issue. i already mentioned it in another issue https://github.com/NativeScript/NativeScript/issues/8354
did not find the root cause yet

[2022-01-27 03:36] Whip commented on #9730
I don't understand. I need to have XML in it, not javascript.

[2022-01-27 11:07] rzr commented on #27
I have interest for GNU/Linux support

May top post be edited since URL  is gone:
- https://nativescript.org/ideas/NS-I-35

[2022-01-28 12:19] jtaina-onebyte opened #9752 "Memory leak on Android when returning to app"
### Issue Description

### What is expected?
The app runs normally without any memory leaks.

### What is actually happening?
Exiting and reopening the app causes memory leaks.

---
The device used for producing the leak was Samsung XCover 4 (SM-G390F).

I'm using Android Studio Arctic Fox 2020.3.1.

This issue was discovered when an NS-Vue app built with NativeScript 6 was found to be frequently

[2022-01-29 08:10] farfromrefug commented on #9752
@jtaina-onebyte what s your android runtime version? might be runtime related

[2022-01-30 10:40] ali4fun opened #9754 "start printer pod file adding error"
### Issue Description

i face issue about to add  star Printer sdk for IOS. after successful pods install it give me error about architecture
[code]
when i install by xcode then app working fine. i add `pod in platform/ios/podfile` and then run `pod install` command in `platform/ios` folder, then app run without error by `xcode` and `NS/CLI`. so this error happened only when i add pod file in `res

[2022-01-31 07:40] gyan-nsf commented on #9746
Hi There,
 an update on this ?

Thanks

[2022-01-31 07:48] gyan-nsf commented on #9741
Hi team,
Any update on this ?

Thanks

[2022-01-31 07:56] jitendraP-ashutec commented on #9659
@rigor789  in node_modules/@nativescript/firebase/platforms/android  there is `firebase-release.aar`,  I think I need to copy that file not `firebase-release.aar-disabled.arr` file

correct ?

[2022-02-01 07:50] jtaina-onebyte commented on #9752
`java.lang.System.getProperty('java.vm.version')` returns `2.1.0` if that's what you mean.

[2022-02-01 07:56] farfromrefug commented on #9752
@jtaina-onebyte i mean the version of "@nativescript/android" in you package.json.
thanks

[2022-02-01 10:39] jtaina-onebyte commented on #9752
8.1.1

Here's the package.json:
[code]

[2022-02-01 10:53] farfromrefug commented on #9752
@jtaina-onebyte thanks. Could you try with `@nativescript/android` version `8.2.0-alpha.9` and see if you see the same issue?

[2022-02-01 11:12] jtaina-onebyte commented on #9752
Thanks for the quick replies.

I installed `8.2.0-alpha.9` but the leaks persist. I did two profiler runs to be sure.

[2022-02-01 13:14] naveenkumarrepo opened #9755 "Build error- Error executing Static Binding Generator: File already exists. This may lead to undesired behavior"
### Issue Description

I'm Migrating my nativescript application to the current version. I'm getting this error "Error executing Static Binding Generator: File already exists. This may lead to undesired behavior.Please change the name of one of the extended classes."

my package.json

[code]

![Image20220201173458](https://user-images.githubusercontent.com/78412389/151974476-73075991-a286-456a-991

[2022-02-01 14:33] rigor789 commented on #9755
Remove `"tns-core-modules": "^6.5.27",` from your package json, then `ns clean` and try running/building again.

If one of the plugins is still referencing `tns-core-modules` you will get an error, but that one is simpler to fix:
- either the plugin has an updated version that references `@nativescript/core` instead (the package name might have changed, some plugins have been moved to a scope)
- y

[2022-02-01 14:52] rigor789 commented on #9659
On a fresh install it's `firebase-release.aar-disabled` but it's renamed to `.aar` in a postinstall hook, though I don't think it really matters, as long as the final file is named `.aar` either by the custom postinstall hook, or by firebase's own rename hook.

Odd you are getting that error afterwards, how did you unpack/repack the aar? Should be packed the same way as the original - meaning the

[2022-02-01 19:42] triniwiz commented on #9752
Have you tried reproducing the leak in a non framework app using plain old `JS` or `TS` ?

[2022-02-02 01:50] shiv19 opened #9756 "WeakRef.clear() is non-standard and has been deprecated. It does nothing and the call can be safely removed."
### Issue Description

When running the app the console is flooded with the message
"WeakRef.clear() is non-standard and has been deprecated. It does nothing and the call can be safely removed."

this is because there is a WeakRef.clear() being invoked in the bindable module of {N} Core.
This is a deprecated method and can be safely removed without any consequences.
I will be submitting a PR for t

[2022-02-02 03:57] gyan-nsf commented on #9746
Hi There,
Any update on this please... ?

Thanks

[2022-02-02 03:58] gyan-nsf commented on #9741
Hi There,
Any update on this please... ?

Thanks

[2022-02-02 13:38] rigor789 commented on #9756
The warning has been updated in the ios runtime to only print once: https://github.com/NativeScript/ns-v8ios-runtime/pull/140

Still need to do the same on the android runtime.

The reason we might want to keep the `.clear()` calls is that projects using the JSC runtime will use it to actually clear the WeakRef, it's only deprecated in the v8 based runtimes where we're now using the built-in WeakR

[2022-02-02 17:07] manijak commented on #9730
I can confirm this issue as well, on iOS. The `tap` events al of a sudden stopped working on all of partial views. Partial views are .xml only files containing layout that is then injected into a parent xml view that holds all logic as well.

Moving the partial view code directly into the parent view, makes the event fire again.

This used to work for years, now suddenly it has stopped working. I

[2022-02-03 08:54] jtaina-onebyte commented on #9752
Good idea. I reproduced it with a plain JS app:

[code]
I then installed `@nativescript/android@8.2.0-alpha.9` and did a second profiler run with the same results.

[2022-02-03 10:20] abhishekranwa opened #9758 "Nativescript Dark Mode Issue: App Converts into Dark Mode even if it is made for Light Mode only in Android"
### Issue Description

This issue is happening only on Android. The App is Only made for Light Mode but when a user clicks on the Dark mode button from the dropdown the app also converts into Dark Mode. We want to disable the dark mode in the App. The App Should only be in Light Mode even if someone Presses the Dark Mode button from the Dropdown. Please see the screenshot for a better understandin

[2022-02-03 10:25] vallemar commented on #9758
@abhishekranwa  Try this on main.js ir TS
[code]

[2022-02-03 10:29] abhishekranwa commented on #9758
@vallemar  Already did this. But after opening the App when the user clicks on the Dark mode from dropdown, App changes into dark mode.

Tried these steps from:
https://medium.com/@kivind/nativescript-disabling-dark-mode-382e5dfd11bd

But still the same issue

[2022-02-04 05:21] gyan-nsf commented on #9746
Hi There,
Any update on this please... ?

Thanks

[2022-02-04 05:55] brianrclow commented on #8485
I'm running into the same issue that @wendt88 talked about. His solution posted above does work well but I still think it would be a nice addition to the `Label` to have the ability to set `maxLines`.

[2022-02-04 09:26] wjgvm commented on #8408
read the code and verify package, template, import correctly in app.js

[2022-02-04 16:03] rigor789 commented on #8485
Probably would make sense to look into bringing the following new CSS (and direct attribute) properties:
1. `line-break` - https://developer.mozilla.org/en-US/docs/Web/CSS/line-break
2. `line-clamp` - https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp (this is vendor prefixed, but I think using just `line-clamp` would be best)

Though the native APIs don't exactly match the CSS sp

[2022-02-04 17:54] farfromrefug commented on #8485
@rigor789 i already implemented it all in `@nativescript-community/ui-label`. though a big change is to use uitextview instead of uilabel. uilabel.is pretty limited

[2022-02-04 20:38] brianrclow commented on #8485
Since I'm somewhat new making changes in plugins and the docs. I can see that the RFC process (which I didn't really know much about before) is setup to discuss and approve substantial changes. Since there are various different options to consider, what would be the proper channels to get this started? Submit an RFC detailing the want/need? or is this a discussion of if the @nativescript-community

[2022-02-04 20:57] farfromrefug commented on #8485
@brianrclow i would say we should test if `@nativescript-community/ui-label` could be a good replacement. It has a lot of improvements too in terms of performances with fonts for example.
However `@nativescript-community/ui-label` depends on another npm plugin `@nativescript-community/text` which is the foundation for all my text plugins. It also handles html texts. The question is how would we ha

[2022-02-04 21:07] rigor789 commented on #8485
I don't think an RFC is necessary for just implementing the max-lines (or `line-clamp`) properties, the RFC would be for the bigger change around non-spec css properties, and how they are named/handled, which is separate.

We use `@nativescript-community/ui-label` in many of our projects as well, it's a great alternative and way more flexible than the core label, however it does depend on a 3rd pa

[2022-02-04 23:02] farfromrefug commented on #8485
@rigor789 no 3rdparty deps at all ! only N code and java/mm files

[2022-02-05 04:26] lyenking opened #9762 "TypeError: Cannot read property 'navigate' of undefined"
### Issue Description

xml:
<Page loaded="pageLoaded" navigatingTo="onNavigatingTo">
    <StackLayout orientation="vertical">
        <Image src="~/images/apple.jpg" />
        <TextField hint="email address" keyboardType="email" autocorrect="false" autocapitalizationType="none" />
        <TextField hint="password" secure="true" />
        <Button class="bnt" text="sign in" tap="login" />

[2022-02-05 15:49] rigor789 commented on #9762
Please include more code - where are you importing `Frame` from?

[2022-02-05 15:51] rigor789 commented on #8485
@farfromrefug oh that's good news then - I think we could bring your improvements into core in a way where you can still override parts of it/swap it partially. I'm not sure about the details of how that would work/look like, but def something we can work towards.

[2022-02-07 03:50] jitendraP-ashutec commented on #9659
Thanks @rigor789 for uploading this zip file. I have managed to fix this issue. Somehow It was not working that time, but when I tried after some time it worked as you explained.

[2022-02-07 04:10] gyan-nsf commented on #9746
Hi There,
Any update on this please... ?

Thanks

[2022-02-07 04:12] gyan-nsf commented on #9741
Hi There,
Any update on this please... ?

Thanks

[2022-02-07 13:47] mrh1997 opened #9764 "on ios "ns run" displays a lot of low level log messages"
### Issue Description

When running a app on ios I get a lot of messages as soon as touch events are seen (in contrary to android!). This makes debugging much more difficult, as my own debug log messages get lost within this amount of log irrelevant messages.

### Reproduction

To repoduce:

[code]

### Relevant log output (if applicable)

[code]

### Environment

[code]

### Dependencies

[code]

[2022-02-07 16:16] shirakaba commented on #9746
The height of a child element in a vertical StackLayout is determined by its intrinsic height. TextField, though, because it involves text and scrolling, will have relatively complicated rules for determining intrinsic height that I'm not really familiar with.

It feels conceptually like the virtual keyboard is updating the TextField's height and NativeScript needs to refresh the layout to sync up

[2022-02-08 07:29] jtaina-onebyte commented on #9752
Is there still something I can do on my end or will you look into this?

[2022-02-08 10:03] gyan-nsf commented on #9746
Hi @shirakaba thanks for you reply. But  already tried with GridLayout. But its not working. Also i tried to find a native method  to redraw or repaint the TextView, but found nothing.

[2022-02-08 10:51] shirakaba commented on #9746
@gyan-nsf here's the method I call as a workaround to force a text reflow in one of my React NativeScript apps. I don't know whether it'll force a layout refresh (which is more what we need), but it might be worth a try anyway as there's not much to it:

https://github.com/shirakaba/nside/blob/8235d64020a439915dfc8c3c1581db4d27483279/app/console/ConsolePage.tsx#L95-L103

[2022-02-08 15:11] farfromrefug commented on #9746
@gyan-nsf i tested your sample and i see absolutely no issue when the keyboard is hiding or showing.
I tested on iOS 15 and iOS 12.
We will need to more details to be able to reproduce your issue

PS: please next time dont spam the issue thread. Doing what you did does not help your case. We wont look at it faster. Please keep in mind that this is  community driven project and that we cant answer

[2022-02-08 17:30] nicolaric commented on #5591
any news?

[2022-02-08 17:31] nicolaric commented on #5589
any progress on this?

[2022-02-08 20:51] hazalozturk opened #9765 "Outlets freeze when navigate to a nested route from another tabView, only on Android"
### Issue Description

Outlets freeze when we navigate to a nested route from another TabView only on Android. We have 5 tabs and 2 of them has nested routes. We use page-router-outlet and native/core TabView component.

Steps to reproduce:
Go to Tab 5 -> drill down 3 levels to the nested route -> click the button to navigate to Tab 2, which takes you to Tab  2 w/o any issues-> Go back to Tab 5, y

[2022-02-10 03:59] acoollevel opened #9766 "`android.media.session` and `android.media.browse` are missing from @nativescript/types"
### Issue Description

It appears the namespaces `android.media.session` and `android.media.browse` which were added in API level 21 are missing from the typescript definition files. They do not appear in android-platform-21.d.ts or any of the higher versions.

### Reproduction

_No response_

### Relevant log output (if applicable)

_No response_

### Environment

_No response_

### Please accept

[2022-02-10 08:21] hitesh-nsf commented on #9746
Hi @gyan-nsf,

I have partially fixed this issue and it's working fine with a tiny limitation. The solution is:

We need to write the request layout code in the constructor and it will fix the height hide-related issue.

TextView.prototype.requestLayout = function() {
      if (!arguments[0] && this.nativeViewProtected && this.nativeViewProtected.isFirstResponder) {
        this.nativeViewProtecte

[2022-02-10 08:27] gyan-nsf commented on #9746
@hitesh-nsf  thanks for your workaround. This works.
@farfromrefug my apologies if this issue thread disturbing you. But this is a real issue not a spam. Please see the screen recording in description box.

[2022-02-10 08:27] #9746 closed

[2022-02-10 08:48] farfromrefug commented on #9746
@gyan-nsf i never said it was a spam. I just said trying to write everyday to 'bump' the issue wont help. And you will see this i all OSS issue threads.
@hitesh-nsf where was i not polite?

Now about your issue i dont see why you closed this. I never said your issue was not valid. I just said we need more details. Now seeing @hitesh-nsf comment i have to ask, is your issue only happening with `IQK

[2022-02-10 09:17] hitesh-nsf commented on #9746
Hi @farfromrefug,

I didn't tryed it with any third-party keyboard manager and yes we are facing this issue with `IQKeyboardManager` right now.

For above statement maybe your intention was not that, but your selection of words telling your point in a different way or may be I get it wrong.

Sorry if I felt it wrong ...  Happy Coding.

Thanks

[2022-02-10 11:19] hitesh-nsf commented on #9746
As per my understanding till now, this same workaround is working perfectly fine with the text field element and creating issues with the text view element.

 So most probably issue should transfer to the native-script team.

[2022-02-10 11:22] farfromrefug commented on #9746
@hitesh-nsf `with the text field element and creating issues with the text view element` what do you mean? you mean your workaround does not work with `TextView` ? Do you mean you see the issue happens with `TextView` and without `IQKeyboardManager` ?
Please help us understand this better.

[2022-02-10 16:15] DimitrisRK opened #9767 "NavigationButton does not accept custom icon in iOS 15"
### Issue Description

Since iOS 15, one cannot set a custom `back` icon on `NavigationButton`.

### Reproduction

In an iOS 15 device, include a `NavigationButton` component inside `ActionBar`. Set its icon to one of your choice.

### Relevant log output (if applicable)

_No response_

### Environment

_No response_

### Please accept these terms

- [X] I have searched the [existing issues](https

[2022-02-10 17:41] chrisalexqm commented on #9730
I have the same issue with layouts tap event on Android, i try with StackLayout, GridLayout, FlexboxLayout.

[2022-02-11 01:01] erwindemoel opened #9768 "Android app won't run with error "App is not installed""
### Issue Description

I have a problem with our Android app, we can find it in the Google Play Store and I can install it on my phone. However when I run it, I get the error "Application is not installed".

![Screenshot_2022-02-07-12-20-48 (1)](https://user-images.githubusercontent.com/40738900/153522168-24c3c4d3-c001-4104-9e4b-012b48fb92e9.png)

When I try to run it locally, I get the following

[2022-02-11 15:39] rigor789 commented on #9522
Seems like ios no longer creates these folders by default - the paths are returned in the native apis, but core checks if the returned path exists before returning a `Folder` instance.

https://github.com/NativeScript/NativeScript/blob/980eb213f9871e89a62f883bbd9fb540f6370295/packages/core/file-system/index.ts#L632-L646

https://github.com/NativeScript/NativeScript/blob/980eb213f9871e89a62f883bbd9

[2022-02-11 15:44] rigor789 commented on #9638
I believe this has been fixed in the ios runtime https://github.com/NativeScript/ns-v8ios-runtime/commit/57ec2ec012f5c9b5322be1e330cc3e747926bc0d

Closing, but if the issue still happens, feel free to let us know and we'll reopen it.

[2022-02-11 15:44] #9638 closed

[2022-02-11 16:25] rigor789 commented on #9670
Webpack does not include polyfills by default - this is likely related to missing polyfills, and an inclusion of a plugin/library that relies on the browser `window`.

Possible workaround is `global.window = global` in your entry file.

[2022-02-11 16:29] rigor789 commented on #9692
Closing this issue due to inactivity.

[2022-02-11 16:29] #9692 closed

[2022-02-11 16:30] rigor789 commented on #9706
Closing as this should be fixed in the 8.2.0 alphas (soon to be released as 8.2.0)

[2022-02-11 16:34] rigor789 commented on #9522
Yep the path returned by `NSSearchPathDirectory.DownloadsDirectory` points to the apps own directory - which does not have a `Downloads` folder in there:

![image](https://user-images.githubusercontent.com/879060/153630508-297d4f15-aec1-4d9d-a4af-7db1baa80732.png)

I believe we _can_ create folders here - though would need to test to make sure...
As far as accessing the system `Downloads` folder -

[2022-02-11 16:43] rigor789 commented on #9756
Update: android side has been updated for 8.2 branch: https://github.com/NativeScript/android-runtime/commit/79c0d18099faed64c2dd0ba18445cd29191c595b

[2022-02-11 16:56] rigor789 commented on #9754
Not sure about the cause - I couldn't find any source files for the sdk which makes it hard to figure out the exact issue.

Looks like https://github.com/EddyVerbruggen/nativescript-star-printer has likely ran into this issue before, and worked around it by packaging the framework manually. This might be a good base to work off of - just using the latest versions of the sdk.

https://github.com/Ed

[2022-02-12 05:56] NathanWalker commented on #9768
Hi @erwindemoel when get a chance could you run:
echo 'y' | npx nativescript-envinfo

And pasted the output here.

[2022-02-12 20:47] Noppey commented on #9768
I have the same problem (and codebase) as Erwin. Ran as you asked, result:

[code]

[2022-02-12 23:22] NathanWalker commented on #9768
Thank you, could you change to this:
  "@nativescript/android": "alpha”

That’s our 8.2 prerelease which supports build tools 32 which you have.
Then “ns clean”.

you may also see mention of android 12 exported attribute. If you run into that you can add `android:exported="true”` to the activity tag in your AndroidManifest.xml

[2022-02-13 09:57] mdckiller commented on #8740
Any update?

[2022-02-13 10:50] cjohn001 opened #9770 "Android: App crashes when getting activated from background if textfield holds selected text"
### Issue Description

Hello together,
the following bug I am only observing on a physical Android device (not on an emulator).

When I select text in a textfield

[code]
<img width="250" alt="Bildschirmfoto 2022-02-13 um 11 36 26" src="https://user-images.githubusercontent.com/43253483/153749279-8d94b7e4-868b-4a89-936c-f3f32f2bda99.png">

and then send the app to background and bring it to foregr

[2022-02-13 16:52] erwindemoel commented on #9768
Hi @NathanWalker , thanks for the tip. I've adjusted the `android:exported="true”`, but still no effect. Any other ideas what could be causing this?

![image](https://user-images.githubusercontent.com/40738900/153765634-55829b60-28d5-4ab1-a29b-dde5380e3a8d.png)

[2022-02-13 17:05] erwindemoel commented on #9768
Thanks @NathanWalker
I now get the following error:
![image](https://user-images.githubusercontent.com/40738900/153766122-b17cea22-bca9-4627-90c4-28bc48ec875b.png)

[2022-02-13 18:31] erwindemoel commented on #9768
Hi @NathanWalker , thanks! I did as you instructed, and got the following error:
"Android Gradle plugin requires Java 11 to run. You are currently using Java 1.8"

![image](https://user-images.githubusercontent.com/40738900/153769201-d33dc89f-9dec-4091-aec7-2193e02620c3.png)

I installed Java 11 from here:
https://www.oracle.com/java/technologies/javase/jdk11-archive-downloads.html

After installi